<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head layout:fragment="head">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!--    <link href="/css/chat.css" rel="stylesheet" />-->
    <title>채팅 테스트</title>
</head>
<div class="container bootstrap snippets bootdey" layout:fragment="content">
    <div class="row">
        <!-- selected chat -->
        <div class="col-md-15 bg-white ">
            <div class="chat-message">
                <ul id="chatting" class="chat">
                    <th:block th:each="chat : ${chatList}">
                        <li th:if="${session.loginMember.memId}==${chat.from.memId}" class="right clearfix">
                            <span class="chat-img pull-right">
                                <img th:src="|/members/${chat.from.memId}/profileImg|" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">[[${chat.from.memId}]]</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>[[${chat.getCalculatedTimeForChat()}]]</small>
                                </div>
                                <p>
                                    [[${chat.message}]]
                                </p>
                                <hr>
                                <span class="read_state" th:text="${chat.readState.readStateName}"></span>
                            </div>
                        </li>
                        <li th:unless="${session.loginMember.memId}==${chat.from.memId}" class="left clearfix">
                            <span class="chat-img pull-left">
                                <img th:src="|/members/${chat.from.memId}/profileImg|" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">[[${chat.from.memId}]]</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>[[${chat.getCalculatedTimeForChat()}]]</small>
                                </div>
                                <p>
                                    [[${chat.message}]]
                                </p>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
            <div class="chat-box bg-white">
                <div class="input-group">
                    <input id="msg" class="form-control border no-shadow no-rounded"
                           placeholder="Type your message here">
                    <span class="input-group-btn">
            			<button class="btn btn-success no-rounded" type="button" th:onclick="send()">Send</button>
                        <input type="file" id="fileUpload" multiple>
            			<button class="btn btn-success no-rounded" type="button" th:onclick="sendImg()">SendImg</button>
            		</span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    console.log("script.....................");

    function connect2() {
        //StompConfig.java에 설정된 endpoint로 SockJS 객체, StompClient 객체 생성
        var socket = new SockJS("http://localhost:8888/gs-guide-websocket");
        //do Handshake
        stompClient2 = Stomp.over(socket);

        // connect(header,연결 성공시 콜백,에러발생시 콜백)
        stompClient2.connect({}, function () {
                //subscribe(subscribe url,해당 url로 메시지를 받을때마다 실행할 함수)
                //게시글번호/판매자/구매자
                sub = stompClient2.subscribe('/topic/chat/' + [[${postId}]] + "/" + [[${seller}]] + "/" + [[${buyer}]], function (e) {
                    //e.body에 전송된 data가 들어있다
                    if (JSON.parse(e.body).readComplete == "readComplete") {
                        $(".read_state").text("읽음");
                        return;
                    }
                    showMessage2(JSON.parse(e.body));
                });

                stompClient2.send("/app/chat/test", {}, "입장시 메세지 테스트");
            },
            function (e) {
                //에러 콜백
                alert('에러발생!!!!!!');
            }
        );
    }

    connect2();

    //화면에 메시지를 표시하는 함수
    function showMessage2(data) {
        console.log('채팅메세지를 수신하였습니다.')
        let message;
        if ([[${session.loginMember.memId}]] == data.from) {
            message =
                `<li class="right clearfix">
                        <span class="chat-img pull-right">
                            <img src="/members/${data.from}/profileImg" alt="My Avatar">
                        </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">${data.from}</strong>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>${data.createdTime}</small>
                        </div>
                        <p>${data.chat}</p>
                        <hr>
                        <span class="read_state">${data.readState}</span>
                    </div>
                </li>`;
        } else {
            message =
                `<li class="left clearfix">
                    	<span class="chat-img pull-left">
                    		<img src="/members/${data.from}/profileImg" alt="Not My Avatar">
                    	</span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">${data.from}</strong>
                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>${data.createdTime}</small>
                        </div>
                        <p>${data.chat}</p>
                    </div>
                </li>`;

            $.ajax({
                type: "POST",
                url: "/chat/getChatMsg/" + data.room,
                success: function (result) {
                    console.log('수신한 메세지 확인 처리 완료! >>> ' + result);
                    $('#chat').text(Number($('#chat').text()) - 1);
                },
            });
        }
        $('#chatting').append(message);
    }

    //엔터 눌렀을때 전송
    $('#msg').keypress(function (e) {
        if (e.keyCode === 13) send();
    });

    //메시지 브로커로 메시지 전송
    function send() {
        stompClient2.send("/app/chat/" + [[${postId}]] + "/" + [[${seller}]] + "/" + [[${buyer}]], {}, $("#msg").val());
        $("#msg").val('');
    }

    function sendImg() {
        console.log("이미지 전송!!");
        $("#fildUpload").click();
    }

    $("#fildUpload").change(e=>{
        let files = e.target.files;
        console.log(files);

        //한번에 10장까지 업로드 가능
        if (files.length > 10) {
            alert('한번에 10장까지 전송이 가능합니다.');
            return false;
        }

        //업로드 가능 파일인지 체크
        for(var i=0; i<files.length; i++){
            if (!/\.(gif|jpg|jpeg|png)$/i.test(files[i].name)) {
                alert('gif, jpg, png 파일만 선택해 주세요.\n\n현재 파일 : ' + files[i].name);
                return false;
            }
        }
    });
</script>