<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head layout:fragment="head">
    <title>채팅 테스트</title>
</head>

<div class="container bootstrap snippets bootdey" layout:fragment="content">
    <div class="row">
        <div class="col-md-15 bg-white ">
            <div class=" row border-bottom padding-sm" style="height: 40px;">
                Member
            </div>
            <!-- member list -->
            <ul class="friend-list">
                <th:block th:each="chatRoom : ${chatRoomList}">
                <!--<li class="active bounceInDown">-->
                <li>
                    <a th:href="@{/chat/chatRoom/{roomId}(roomId=${chatRoom.roomId})}" class="clearfix">
                        <div class="profile_img">
                            <img th:if="${chatRoom.buyer.memId == session.loginMember.memId}" th:src="|/members/${chatRoom.seller.memId}/profileImg|" alt="프로필이미지(판매자)">
                            <img th:unless="${chatRoom.buyer.memId == session.loginMember.memId}" th:src="|/members/${chatRoom.buyer.memId}/profileImg|" alt="프로필이미지(구매자)">
                        </div>
                        <div class="friend-name">
                            <strong th:if="${chatRoom.buyer.memId == session.loginMember.memId}">[[${chatRoom.seller.memId}]]</strong>
                            <strong th:unless="${chatRoom.buyer.memId == session.loginMember.memId}">[[${chatRoom.buyer.memId}]]</strong>
                        </div>
                        <div class="last-message text-muted">Hello, Are you there?</div>
                        <small class="time text-muted">Just now</small>
                        <small class="chat-alert label label-danger">1</small>
                    </a>
                </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    console.log("script.....................");
</script>