<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head layout:fragment="head">
    <title>채팅 테스트</title>
</head>

<div layout:fragment="content">
    <div class="container" id="container">
        <h1 id="title_room">채팅방리스트</h1>
        <ul>
        <th:block th:each="chatRoom : ${chatRoomList}">
            <li>
                <a th:if="${chatRoom.buyer == session.loginMember}" th:href=" @{/chat/{roomId}(roomId=${chatRoom.roomId})}">[[${chatRoom.seller.memId}]]</a>
                <a th:unless="${chatRoom.buyer == session.loginMember}" th:href=" @{/chat/{roomId}(roomId=${chatRoom.roomId})}">[[${chatRoom.buyer.memId}]]</a>
            </li>
        </th:block>
        </ul>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
    console.log("script.....................");
</script>