<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>받은 매너평가</title>
    <link href="/css/review_modal.css" rel="stylesheet" />
    <link href="/css/public_reviews.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b5ffac9792.js" crossorigin="anonymous"></script>
</head>

<div layout:fragment="content">
<section class="mt-5 my-auto d-flex justify-content-center">
<div class="review-container">
    <div class="py-5 text-center">
        <h1 th:text="|${nickname}님의 거래 후기|"></h1>
    </div>
    <!--리뷰 메뉴 바-->
    <div class="review-bars">
        <div class="review-bar is-current" id="allReview_btn">전체 후기</div>
        <div class="review-bar" id="buyerReview_btn">판매자 후기</div>
        <div class="review-bar" id="sellerReview_btn">구매자 후기</div>
        <div class="review-underline"></div>
    </div>

    <!--전체 후기-->
    <div id="allReviews" th:with="cursorResult=${resultMap['allMessageResult']},
                                  messageList=${cursorResult.valueList}">
        <div class="no_review" th:if="${messageList.isEmpty()}">
           받은 거래 후기가 없습니다.
        </div>
        <div th:unless="${messageList.isEmpty()}" class="content">
            <div class="review-count">
                <p th:text="|전체 후기 ${cursorResult.totalElements}개|" id="count"></p>
            </div>
            <div class="message-one" th:each="review:${messageList}">
                <div class="profile-line">
                    <div class="message-profile-img">
                        <a th:if="${review.senderType.equals('seller')}"
                           th:href="@{/home/{memId}(memId=${review.sender.memId})}">
                            <img th:src="|/members/${review.sender.memId}/profileImg|" alt="프로필이미지">
                        </a>
                        <a th:if="${review.senderType.equals('buyer')}"  class="profile-img"
                           th:href="@{/home/{memId}(memId=${review.sender.memId})}">
                            <img th:src="|/members/${review.sender.memId}/profileImg|" alt="프로필이미지">
                        </a>
                    </div>
                    <div class="message-info">
                        <div th:if="${review.senderType.equals('buyer')}">
                            <a th:href="@{/home/{memId}(memId=${review.sender.memId})}"
                               class="nickname" th:text="|${review.sender.nickname}|"> </a>
                            <p class="loc" th:text="|${review.sender.loc.locName} &#183; 구매자|"></p>
                        </div>
                        <div th:if="${review.senderType.equals('seller')}">
                            <a th:href="@{/home/{memId}(memId=${review.sender.memId})}"
                                class="nickname" th:text="|${review.sender.nickname}|"></a>
                            <p class="loc" th:text="|${review.sender.loc.locName} &#183; 판매자|"></p>
                        </div>
                    </div>
                </div>
                <div class="content-line">
                    <div th:if="${review.senderType.equals('buyer')}" >  <p th:utext="${review.message}"></p> </div>
                    <div th:if="${review.senderType.equals('seller')}">  <p th:utext="${review.message}"></p> </div>
                </div>
                <div class="time-line">
                    <div th:if="${review.senderType.equals('buyer')}" > <p th:utext="${review.getCalculatedTimeForView()}"></p> </div>
                    <div th:if="${review.senderType.equals('seller')}"> <p th:utext="${review.getCalculatedTimeForView()}"></p> </div>
                </div>
                <!--setting 버튼-->
                <div class="setting-bar">
                    <div th:if="${session.loginMember != null && review.senderType.equals('buyer')}">
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(memId)}"
                           th:data-reviewedWho="seller"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(review.sender.memId)}"
                           th:data-reviewedWho="seller"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                    </div>
                    <div class="col-sm" th:if="${session.loginMember != null && review.senderType.equals('seller')}">
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(memId)}"
                           th:data-reviewedWho="buyer"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(review.sender.memId)}"
                           th:data-reviewedWho="buyer"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                    </div>
                </div><!--setting-bar-->
            </div><!--each allReviews-->
            <button id="all_more_btn"
                    class="btn btn-outline-secondary btn-block col-12 mx-auto"
                    th:if="${cursorResult.hasNext}"
                    th:with="lastMessage=${messageList.get(messageList.size()-1)}"
                    th:data-cursorTime="${lastMessage.createdTime}">더 보기</button>
        </div><!--review not Empty-->
    </div><!--allReviews-->

    <!--구매자 후기-->
    <div id="sellerReviews"
         th:with="cursorResult=${resultMap['toSellerMessageResult']},
                  messageList=${cursorResult.valueList}">
        <div class="no_review" th:if="${messageList.isEmpty()}">
            구매자 후기가 없습니다.
        </div>
        <div th:unless="${messageList.isEmpty()}" class="content">
            <div class="review-count">
                <p th:text="|구매자 후기 ${cursorResult.totalElements}개|"></p>
            </div>
            <div class="message-one" th:each="review:${messageList}">
                <div class="profile-line">
                    <div class="message-profile-img">
                        <a th:href="@{/home/{memId}(memId=${review.sender.memId})}">
                            <img th:src="|/members/${review.sender.memId}/profileImg|" alt="프로필이미지">
                        </a>
                    </div>
                    <div class="message-info">
                        <div>
                            <a th:href="@{/home/{memId}(memId=${review.sender.memId})}"
                               class="nickname" th:text="|${review.sender.nickname}|"> </a>
                            <p class="loc" th:text="|${review.sender.loc.locName} &#183; 구매자|"></p>
                        </div>
                    </div>
                </div>
                <div class="content-line">
                    <p th:utext="${review.message}"></p>
                </div>
                <div class="time-line">
                    <p th:utext="${review.getCalculatedTimeForView()}"></p>
                </div>
                <!--setting 버튼-->
                <div class="setting-bar">
                    <div th:if="${session.loginMember != null}">
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(memId)}"
                           th:data-reviewedWho="seller"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(review.sender.memId)}"
                           th:data-reviewedWho="seller"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                    </div>
                </div><!--setting bar-->
            </div> <!--each sellerReviews-->
            <button id="seller_more_btn"
                    class="btn btn-outline-secondary btn-block col-12 mx-auto"
                    th:if="${cursorResult.hasNext}"
                    th:with="lastMessage=${messageList.get(messageList.size()-1)}"
                    th:data-seller-cursorId="${lastMessage.reviewId}">더 보기</button>
        </div><!--not Empty-->
    </div><!--toSellerReviews-->

    <!-- 판매자 리뷰-->
    <div id="buyerReviews"
         th:with="cursorResult=${resultMap['toBuyerMessageResult']},
                  messageList=${cursorResult.valueList}">
        <div class="no_review" th:if="${messageList.isEmpty()}">
            판매자 후기가 없습니다.
        </div>
        <div th:unless="${messageList.isEmpty()}" class="content">
            <div class="review-count">
                <p th:text="|판매자 후기 ${cursorResult.totalElements}개|"></p>
            </div>
            <div class="message-one" th:each="review:${messageList}">
                <div class="profile-line">
                    <div class="message-profile-img">
                        <a th:href="@{/home/{memId}(memId=${review.sender.memId})}">
                            <img th:src="|/members/${review.sender.memId}/profileImg|" alt="프로필이미지">
                        </a>
                    </div>
                    <div class="message-info">
                        <div>
                            <a  th:href="@{/home/{memId}(memId=${review.sender.memId})}"
                                class="nickname" th:text="|${review.sender.nickname}|"></a>
                            <p class="loc" th:text="|${review.sender.loc.locName} &#183; 판매자|"></p>
                        </div>
                    </div>
                </div>
                <div class="content-line">
                   <p th:utext="${review.message}"></p>
                </div>
                <div class="time-line">
                    <p th:utext="${review.getCalculatedTimeForView()}"></p>
                </div>
                <!-- setting-->
                <div class="setting-bar">
                    <div th:if="${session.loginMember != null}">
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(memId)}"
                           th:data-reviewedWho="buyer"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                        <a class="review_modal_btn"
                           th:if="${session.loginMember.memId.equals(review.sender.memId)}"
                           th:data-reviewedWho="buyer"
                           th:data-reviewId="${review.reviewId}">
                            <i class="fa-solid fa-ellipsis-vertical fa-xs"></i>
                        </a>
                    </div>
                </div> <!-- setting bar-->
            </div><!--each buyerReviews-->
            <button id="buyer_more_btn"
                    class="btn btn-outline-secondary btn-block col-12 mx-auto"
                    th:if="${cursorResult.hasNext}"
                    th:with="lastMessage=${messageList.get(messageList.size()-1)}"
                    th:data-buyer-cursorId="${lastMessage.reviewId}">더 보기</button>
        </div><!--not Empty-->
    </div><!--toBuyerReviews-->

</div> <!-- /review-container -->
</section>

<!--리뷰 모달-->
<div class="reviewModal review_modal">
    <div class="review_modal_body">
        <div class="modal_box">
            <a id="review_hide_btn">
                리뷰 숨김</a>
        </div>
        <hr/>
        <div class="modal_box">
            <a id="review_del_btn">
                리뷰 삭제</a>
        </div>
        <hr/>
        <div class="modal_box">
            <a id="review_detail_btn">리뷰 보기</a>
        </div>
        <hr/>
        <div class="modal_box">
         <a id="review_close_btn">취소</a>
        </div>
    </div>
</div>
</div>

<div layout:fragment="script">
    <script th:inline="javascript">
        const memId = [[${memId}]];
        const loginMemId = [[${session.loginMember.memId}]];
    </script>
    <script src="/js/review/review_modal.js"></script>
    <script src="/js/review/public_reviews.js"></script>
</div>