<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>리뷰 폼</title>
    <link href="/css/review_form.css" rel="stylesheet">
</head>

<div layout:fragment="content">
<section class="mt-5 my-auto d-flex justify-content-center">
    <div class="form-container">
        <!--<div class="py-5 text-center">
            <h2>리뷰 작성</h2>
        </div>-->
        <h2 class="pt-5 mt-3 pb-3 text-center">리뷰 작성</h2>
        <h4>구매 후기 남기기</h4>
        <hr/>
        <div class="review-form" th:if="${#httpServletRequest.servletPath =='/reviews/seller'}">
            <form id="reviewSellerForm">
                <input type="hidden" th:name="postId" th:value="${reviewForm.postId}"/>
                <input type="hidden" th:name="sellerId" th:value="${reviewForm.sellerId}"/>
                <input type="hidden" th:name="buyerId" th:value="${reviewForm.buyerId}"/>
                <div class="question">
                    <p th:text="|${reviewForm.buyerNick}님, ${reviewForm.sellerNick}님과의 거래가 어땠나요?|"></p>
                </div>

                <div id="sellerReviewState">
                    <div class="btn-wrap" th:each="RSValue:${T(com.exercise.carrotproject.domain.enumList.ReviewState).values()}"  >
                        <button class="reviewState-btn" type="button" th:text="${RSValue.description}"
                                th:onclick="viewSellerForm([[${RSValue.stateCode}]])"></button>
                    </div>
                </div>

                <div class="form-content">
                    <div id="sellerIndicators">
                        <div id="positiveSellerIndicator">
                            <p class="dot">&#183;&nbsp;&nbsp;</p><p class="form-title">어떤 점이 좋았나요? &#128155;</p>
                            <div class="checkbox" th:each="RS:${T(com.exercise.carrotproject.domain.enumList.ReviewSellerIndicator).values()}">
                                <label th:if="${RS.name().contains('P')}">
                                    <input class="form-check-inline" type="checkbox" th:name="indicator" th:value="${RS}">
                                    [[${RS.description}]]
                                </label>
                            </div>
                        </div>
                        <div id="negativeSellerIndicator">
                            <p class="dot">&#183;&nbsp;&nbsp;</p><p class="form-title">어떤 점이 별로였나요?</p>
                            <div class="checkbox" th:each="RS:${T(com.exercise.carrotproject.domain.enumList.ReviewSellerIndicator).values()}">
                                <label th:if="${RS.name().contains('N')}">
                                    <input class="form-check-inline" type="checkbox" th:name="indicator" th:value="${RS}">
                                    [[${RS.description}]]
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="reviewSellerMessage"></div>
                </div>
                <hr class="my-4">
                <div class="row review-btns">
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg cancel-btn"
                                onclick="history.go(-1); return false;"
                                type="button">이전으로</button>
                    </div>
                    <div class="col">
                        <button class="w-100 btn btn-secondary btn-lg submit-btn"
                                type="button"
                                th:onclick="reviewSeller()">리뷰 남기기</button>
                    </div>
                </div> <!--리뷰 남기기 버튼-->
            </form>
        </div>

        <div class="review-form" th:if="${#httpServletRequest.servletPath.equals('/reviews/buyer')}">
            <form id="reviewBuyerForm">
                <input type="hidden" th:name="postId" th:value="${reviewForm.postId}"/>
                <input type="hidden" th:name="sellerId" th:value="${reviewForm.sellerId}"/>
                <input type="hidden" th:name="buyerId" th:value="${reviewForm.buyerId}"/>
                <div class="question">
                    <h4>판매 후기 남기기</h4>
                    <p th:text="|${reviewForm.sellerNick}님, ${reviewForm.buyerNick}님과의 거래가 어땠나요?|"></p>
                </div>

               <div id="buyerReviewState">
                    <div class="btn-wrap" th:each="RSValue:${T(com.exercise.carrotproject.domain.enumList.ReviewState).values()}"  >
                        <button class="reviewState-btn"
                                type="button" th:text="${RSValue.description}"
                                th:onclick="viewBuyerForm([[${RSValue.stateCode}]])">
                        </button>
                    </div>
               </div>


                <div class="form-content">
                   <div id="buyerIndicators">
                        <div id="positiveBuyerIndicator">
                            <p class="dot">&#183;&nbsp;&nbsp;</p><p class="form-title">어떤 점이 좋았나요? &#128155;</p>
                            <div class="checkbox" th:each="RB:${T(com.exercise.carrotproject.domain.enumList.ReviewBuyerIndicator).values()}">
                               <label th:if="${RB.name().contains('P')}">
                                   <input class="form-check-inline" type="checkbox" th:name="indicator" th:value="${RB}">
                                   [[${RB.description}]]
                               </label>
                            </div>
                        </div>
                        <div id="negativeBuyerIndicator">
                            <p class="dot">&#183;&nbsp;&nbsp;</p><p class="form-title">어떤 점이 별로였나요?</p>
                            <div class="checkbox" th:each="RB:${T(com.exercise.carrotproject.domain.enumList.ReviewBuyerIndicator).values()}">
                                <label th:if="${RB.name().contains('N')}">
                                    <input class="form-check-inline" type="checkbox" th:name="indicator" th:value="${RB}">
                                    [[${RB.description}]]
                                </label>
                            </div>
                        </div>
                   </div>
                   <div id="reviewBuyerMessage"> </div>
                </div>

               <hr class="my-4">
               <div class="row review-btns">
                   <div class="col">
                       <button class="w-100 btn btn-secondary btn-lg cancel-btn"
                               onclick="history.go(-1); return false;"
                               type="button">이전으로</button>
                   </div>
                   <div class="col">
                       <button class="w-100 btn btn-secondary btn-lg submit-btn"
                               type="button"
                       th:onclick="reviewBuyer()">리뷰 남기기</button>
                   </div>
               </div>

           </form>
        </div>
    </div> <!-- /form-container -->
</section>
</div>

<div layout:fragment="script">
    <script th:inline="javascript">
        const buyerMe =  [[${reviewForm.buyerId}]] ;
        const sellerMe =  [[${reviewForm.sellerId}]] ;
    </script>
    <script src="/js/review/review_form.js"></script>
</div>