<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
  <title>판매자를 리뷰하는 폼</title>
  <link th:href="@{/css/bootstrap.min.css}"
        href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
  </style>
</head>

<div layout:fragment="content">
</div>

<div layout:fragment="script" th:inline="javascript">
  <script th:inline="javascript">

  </script>
</div>