<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head layout:fragment="head">
    <title>회원 정보</title>
    <link href="/css/member_info.css" rel="stylesheet" />
    <link href="/css/blockList.css" rel="stylesheet" />
</head>
<div layout:fragment="content">
    <div class="container info-container my-5">
        <!--메뉴 바 (왼쪽)-->
        <div th:replace="~{/fragments/myPage_nav.html :: fragment-info-nav}"></div>
        <!--내용 (오른쪽)-->
        <div class="info-content d-flex flex-column" id="content">
            <div class="py-3 text-center">
                <h2 style="color: #555;">차단 목록</h2>
            </div>
            <div class="block-wrap px-2 px-lg-5 mt-3">
                <th:block th:if="${myBlocks.isEmpty()}">
                    <h4 class="fs-6 fw-normal text-secondary text-center">차단한 멤버가 없습니다.</h4>
                </th:block>
                <div class="block-list px-2 px-lg-5 py-2" th:unless="${myBlocks.isEmpty()}">
                    <div class="block-one row py-3 my-2" th:each="block : ${myBlocks}" >
                        <div class="col-sm-4 d-flex justify-content-end">
                            <div class="profile-img">
                                <a th:href="@{/home/{memId}(memId=${block.toMem.memId})}">
                                    <img th:src="|/members/${block.toMem.memId}/profileImg|" alt="프로필이미지">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 d-flex justify-content-start flex-column">
                            <div class="nickname pt-1 mb-1">
                                <a th:href="@{/home/{memId}(memId=${block.toMem.memId})}"
                                   th:text="|${block.toMem.nickname}|"> </a>
                            </div>
                            <div class="memId">
                                <a th:href="@{/home/{memId}(memId=${block.toMem.memId})}"
                                   th:text="|${block.toMem.memId}|"> </a>
                            </div>
                        </div>
                        <div class="align-middle col-sm-4 justify-content-start">
                            <button class="block-btn"
                                    th:data-toMemId="${block.toMem.memId}"
                                    th:onclick="cancelBlock(this.getAttribute('data-toMemId'))"
                                    type="button">차단해제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /form-container -->
    </div>
</div>

<div layout:fragment="script">
<script th:inline="javascript">
    function cancelBlock(toMemId) {
        const cancelConfirm = confirm("차단을 해제하시겠습니까?");
        if(cancelConfirm) {
            requestCancelBlock(toMemId);
        }
    }
    function requestCancelBlock(toMemId) {
        let data = {
            fromMemId : [[${session.loginMember.memId}]],
            toMemId : toMemId
        }
        $.ajax({
            type: 'delete',
            url: '/blocks',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("차단을 해제했습니다");
                location.reload($('#content'));
            },
            error: function (err) {
                alert("차단에 실패했습니다.");
            }
        })
    }
</script>
</div>