<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>판매목록</title>

</head>

<div layout:fragment="content">
<section class="py-5" >
    <h1>판매중</h1>
    <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5" th:each = "post:${onSaleAndRsv}">
            <div class="card h-100" th:onclick="|location.href='@{|/post/detail/${post.postId}|}'|" style="cursor: pointer;">
                <!-- 제품사진-->
                <img class="card-img-top" th:src="|/post/firstImg/${post.postId}|" alt="제품사진" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- 제목-->
                        <h5 class="fw-bolder" th:text="${post.title}">제목</h5>
                        <!--지역, 시간-->
                        <p class="fw">[[${post.loc.locName}]] / 1시간 전</p>
                        <!-- 가격-->
                        <h6 class="fw-bolder" th:text="|${post.price}원|">가격</h6>
                    </div>
                </div>
            </div>
            <button th:if="${post.sellState.getSellStateName().equals('판매중')}">끌어올리기</button>
            <button th:if="${post.sellState.getSellStateName().equals('판매중')}" th:onclick="sellState([[${post.postId}]],'예약중')">예약중</button>
            <button th:if="${post.sellState.getSellStateName().equals('판매중')}">거래완료</button>

            <button th:if="${post.sellState.getSellStateName().equals('예약중')}">판매중으로 변경</button>
            <button th:if="${post.sellState.getSellStateName().equals('예약중')}">거래완료</button>
        </div>
    </div>
</div>
</section>



<section class="py-5">
    <h1>판매완료</h1>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each = "soldPost:${soldList}">
                <div class="card h-100" th:onclick="|location.href='@{|/post/detail/${soldPost.postId}|}'|" style="cursor: pointer;">
                <!-- 제품사진-->
                <img class="card-img-top" th:src="|/post/firstImg/${soldPost.postId}|" alt="제품사진" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- 제목-->
                        <h5 class="fw-bolder" th:text="${soldPost.title}">제목</h5>
                        <!--지역, 시간-->
                        <p class="fw">[[${soldPost.loc.locName}]] / 1시간 전</p>
                        <!-- 가격-->
                        <h6 class="fw-bolder" th:text="|${soldPost.price}원|">가격</h6>
                    </div>
                </div>
                </div>
                <button>거래후기 보내기</button>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <h1>숨김</h1>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each = "hidePost:${hidePostList}">
            <div class="card h-100" th:onclick="|location.href='@{|/post/detail/${hidePost.postId}|}'|" style="cursor: pointer;">
                <!-- 제품사진-->
                <img class="card-img-top" th:src="|/post/firstImg/${hidePost.postId}|" alt="제품사진" />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- 제목-->
                        <h5 class="fw-bolder" th:text="${hidePost.title}">제목</h5>
                        <!--지역, 시간-->
                        <p class="fw">[[${hidePost.loc.locName}]] / 1시간 전</p>
                        <!-- 가격-->
                        <h6 class="fw-bolder" th:text="|${hidePost.price}원|">가격</h6>
                    </div>
                </div>
                </div>
                <button type="button" th:onclick="hideState([[${hidePost.postId}]], [[${hidePost.hideState.getHideStateName()}]])">숨기기 해제</button>
            </div>
        </div>
    </div>
</section>

</div>



<div layout:fragment="script" th:inline="javascript">
    <script th:inline="javascript">

        //게시물 숨기기
        function hideState(postId, hideStateName){
            console.log("postId:",postId,"hideState:",hideStateName);

            let data = {"postId" : postId, "hideStateName": hideStateName};

            $.ajax({
                url: '/post/hideState',
                type: 'POST',
                data: data,
                success: function(result){
                    console.log(result);
                    //화면 처리
                    alert(result);
                    location.reload();
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.responseText);
                    alert("변경에 실패했습니다.");
                }
            }); //$.ajax
        }

        //판매여부 변경
        function sellState(postId, sellStateName){
            console.log("postId:",postId,"sellStateName:",sellStateName);

            let data = {"postId" : postId, "sellStateName": sellStateName};

            $.ajax({
                url: '/post/sellState',
                type: 'POST',
                data: data,
                success: function(result){
                    console.log(result);
                    //화면 처리
                    alert(result);
                    // location.reload();
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.statusText);
                    alert("변경에 실패했습니다.");
                }
            }); //$.ajax
        }


    </script>
</div>