<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <!--채팅방 관련 css 2023.03.28 남호용-->
        <link href="/css/chat.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!--nav-->
        <link href="/css/nav.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,0,0" />
    </head>
    <th:block layout:fragment="head" />

    <body>
<!--    <div>-->
            <!-- Navigation-->
            <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
            <!-- Section-->
<!--            <section class="py-5">-->
<!--                <div class="container px-4 px-lg-5 mt-5">-->
                    <div layout:fragment="content"></div>
<!--                </div>
            </section>-->
            <!-- Footer-->
            <footer class="mt-5">
                <div class="container bd-top-grey py-sm-5 px-5">
                    <section class="ft-section">
                        <section>
                            <div class="ft-text"><b>대표 </b> 박재경 최혜은</div>
                            <div class="ft-text"><b>채팅문의 </b>남호용</div>
                            <div class="ft-text"><b>주소 </b> 서울특별시 마포구 신촌로 176 중앙정보처리학원</div>
                            <div class="ft-text"><b>전화 </b> 1234-1234</div>
                            <div class="ft-text"><b>이메일 </b> abcd1234@mango.com</div><br/>
                            <div class="ft-text"><a class="ft-a" href="#">제휴문의</a><a class="ft-a" href="#">광고문의</a><a class="ft-a" href="#">PR문의</a><a class="ft-a" href="#">IR문의 </a> </div>
                            <div class="ft-text"><a class="ft-a" href="#">이용약관</a><a class="ft-a" href="#">개인정보처리방침</a><a class="ft-a" href="#">위치기반서비스 이용약관</a><a class="ft-a" href="#">이용자보호 비전과 계획</a> </div>
                            <br/>
                            <br/>
                        </section>
                        <section>
                            <i class="bi bi-facebook ft-a fs-4"></i>
                            <i class="bi bi-instagram ft-a fs-4"></i>
                            <i class="bi bi-youtube ft-a fs-4"></i>
                        </section>
                    </section>
                    <p class="mt-4 text-center text-dark">Copyright &copy; 망고마켓 2023</p>
                </div>
            </footer>
<!--        </div>-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <!--jquery-->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
        <!--sockJS-->
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <!--STOMP-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <div layout:fragment="script"> </div>
        <script th:inline="javascript">
            /*로그인 한 경우 동작*/
            if ([[${session.loginMember}]]["memId"] != null) {
                /*미확인 메세지 조회*/
                $.ajax({
                    type: "POST",
                    url: "/chat/getChatNoti",
                    success: function (result) {
                        console.log('미확인 메세지 조회 완료! >>> ' + result);
                        $('#chat').text(result);
                    },
                });

                /*웹소켓 연결 소스*/
                function connect() {
                    //StompConfig.java에 설정된 endpoint로 SockJS 객체, StompClient 객체 생성
                    var socket = new SockJS("http://localhost:8888/gs-guide-websocket");
                    //do Handshake
                    stompClient = Stomp.over(socket);

                    // connect(header,연결 성공시 콜백,에러발생시 콜백)
                    stompClient.connect({}, function () {
                            //subscribe(subscribe url,해당 url로 메시지를 받을때마다 실행할 함수)
                            sub = stompClient.subscribe('/topic/chatNoti/'+[[${session.loginMember}]]["memId"], function (e) {
                                //e.body에 전송된 data가 들어있다
                                console.log("알림메세지를 수신하였습니다.");
                                $('#chat').text(Number($('#chat').text())+1);
                                // showMessage(JSON.parse(e.body));
                            });
                        },
                        function(e){
                            //에러 콜백
                            alert('로그인해주세요.');
                        }
                    );
                }
                connect();
            }
        </script>
        <script th:inline="javascript">
            function logoutSocial(wherePlatform) {
                if(wherePlatform=='SOCIAL_KAKAO') {wherePlatform = 'Kakao'}
                $.ajax({
                    url: `/logout/get${wherePlatform}LogoutURL`,
                    type: 'get',
                }).done(function (res) {
                    location.href = res;
                });
            }
            function search() {
                let input_word = $('.search-input').val();
                if(!input_word) {
                    alert("검색어를 입력해주세요.");
                } else {
                    $('#search-form').submit();
                }
            }
        </script>
    </body>

</html>
