<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>회원가입 폼</title>
    <link href="/css/join.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>

<div layout:fragment="content">
<section class="px-md-5 mt-5 d-flex justify-content-center">
    <div class="join-container">
        <div class="join-border">
            <div th:if="${isSocial}">
                <div class="py-4 text-center">
                    <h2 class="mb-0">소셜 회원가입</h2>
                </div>
                <h4 class="mt-3 mb-4 text-center">[[${platform}]]계정으로 망고마켓 가입이 필요합니다.</h4>
                <form id="socialForm">
                    <input type="hidden" id="emailSocial" th:value="${userInfo.email}">
                    <input type="hidden" id="profImgUrl" th:value="${userInfo.profileImgUrl}">
                    <div class="input">
                        <label for="locSocial">내 동네</label>
                        <select id="locSocial" name="locSocial" class="form-select">
                            <option th:each="locValue:${T(com.exercise.carrotproject.domain.enumList.Loc).values()}"
                                    th:value="${locValue}"
                                    th:text="${locValue.locName}"></option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="nicknameSocial">닉네임</label>
                        <input type="text" id="nicknameSocial"
                               class="form-control"
                               th:value="${userInfo.nickname}">
                        <div id="nick-error-social"/>
                    </div>
                    <div class="bottom-sec">
                        <div class="bottom-btn">
                            <button class="w-100 btn-orange btn-lg"
                                    th:onclick="joinSocialMember([[${platform}]])"
                                    type="button"> 회원 가입 </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Social singup form-->

            <div th:unless="${isSocial}">
                <div class="py-4 text-center">
                    <h2 class="mb-0">회원가입</h2>
                </div>
                <form action="" id="joinForm">
                    <h4 class="mb-3 text-center">회원 정보 입력</h4>
                    <div class="input">
                        <label for="memId">아이디</label>
                        <input type="text" id="memId"
                               class="form-control">
                        <div class="field-error" id="memId-error"/>
                    </div>
                    <div class="input">
                        <label for="pwd">비밀번호</label>
                        <input type="password" id="pwd"
                               class="form-control">
                        <div class="field-error" id="pwd-error"/>
                    </div>
                    <div class="input">
                        <label for="pwdConfirm">비밀번호 재확인</label>
                        <input type="password" id="pwdConfirm"
                               class="form-control">
                        <div class="field-error" id="pwdConfirm-error"/>
                    </div>
                    <div class="input" id="input-email">
                        <label for="email" style="display: block">이메일</label>
                        <input type="text" id="email"
                               class="form-control" style="display: inline-block; width:74%">
                        <div class="send">
                            <button class="send-btn" id="sendEmailCode" type="button">
                              이메일 인증
                            </button>
                        </div>
                        <div class="field-error" id="email-error"></div>
                        <div id="send-waiting" style="color:#dc3545; font-size: 13px; padding-top: 3px;"></div>
                    </div>
                    <div class="input" id="email-code-check"></div>
                    <div class="input">
                        <label for="nickname">닉네임</label>
                        <input type="text" id="nickname"
                               class="form-control">
                        <div class="field-error" id="nick-error"/>
                    </div>
                    <div class="input">
                        <label for="loc">내 동네</label>
                        <select id="loc" th:onchange="locTest()" class="form-select">
                            <option th:each="locValue:${T(com.exercise.carrotproject.domain.enumList.Loc).values()}"
                                    th:value="${locValue}"
                                    th:text="${locValue.locName}"></option>
                        </select>
                        <div class="field-error" id="loc-error"/>
                    </div>
                    <div class="bottom-sec">
                        <div class="bottom-btn">
                            <button class="w-100 btn btn-orange btn-lg" disabled
                                    type="submit" id="join-btn">회원가입</button>
                        </div>
                        <div class="bottom-social" id="kakao" th:onclick="|location.href='@{/login/getKakaoLoginURL}'|">
                            <button class="btn-kakao" type="button">
                                <img class="kakao-img" src="/css/images/login/kakao_login_mini.png">
                                <p class="kakao-text">카카오톡으로 가입하기</p>
                            </button>
                        </div>
                    </div>
                </form>
            </div> <!--role:user form-->

        </div> <!--join-border-->
    </div> <!--join-container-->
</section>
</div>

<div layout:fragment="script">
    <script src="/js/member/join_form.js"></script>
</div>