<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
  <meta charset="utf-8">
  <link href="/css/login.css" rel="stylesheet">
</head>

<div layout:fragment="content">
  <section class="px-md-5 mt-5 d-flex justify-content-center">
    <div class="login-container">
      <div class="login-border">
        <div class="py-4 text-center">
          <h2>로그인</h2>
        </div>
        <form action="" th:action th:object="${loginForm}" method="post">
          <!--<div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
          </div>-->
          <div class="input">
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}" />
          </div>
          <div class="input">
            <label for="pwd">비밀번호</label>
            <input type="password" id="pwd" th:field="*{pwd}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{pwd}" />
          </div>
          <hr class="separator">
          <div class="bottom-sec">
            <div class="bottom-links">
              <a class="bottom-link">아이디 찾기</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <a class="bottom-link">비밀번호 찾기</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <a class="bottom-link" th:href="@{/members/signup}" >회원가입</a>
            </div>
            <div class="bottom-login">
              <button class="btn-orange" type="submit">로그인</button>
            </div>
            <div class="bottom-social" id="kakao" th:onclick="|location.href='@{/login/getKakaoLoginURL}'|">
              <button class="btn-kakao" type="button">
                <img class="kakao-img" src="/css/images/login/kakao_login_mini.png">
                <p class="kakao-text">카카오톡으로 로그인하기</p>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div> <!-- /form-container -->
  </section>
</div>

<div layout:fragment="script" >
  <script th:inline="javascript">
  </script>
</div>
</html>