<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>받은 매너평가</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 560px;
            padding-left: 100px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<div layout:fragment="content">
<div class="form-container">
    <div class="py-5 text-center">
        <h2>매너 상세</h2>
    </div>
    <div>
        <h4 class="mb-3">받은 매너 칭찬</h4>
        <th:block th:if="${positiveMannerMap.isEmpty()}">
            받은 매너 칭찬이 없습니다
        </th:block>
        <th:block th:unless="${positiveMannerMap.isEmpty()}">
            <div th:if="${positiveMannerMap.containsKey('common')}" th:each="positive:${positiveMannerMap['common']}">
                <p th:text="|${positive.reviewSellerIndicator.description} ${positive.count}|"> </p>
            </div>
            <div th:if="${positiveMannerMap.containsKey('seller')}" th:each="positive:${positiveMannerMap['seller']}">
                <p th:text="|${positive.reviewSellerIndicator.description} ${positive.count}|"> </p>
            </div>
            <div  th:if="${positiveMannerMap.containsKey('buyer')}" th:each="positive:${positiveMannerMap['buyer']}">
                <p th:text="|${positive.reviewBuyerIndicator.description} ${positive.count}|"> </p>
            </div>
        </th:block>
    <hr>
    <div th:if="d">
        <h4 class="mb-3">받은 비매너</h4>
        <th:block th:if="${negativeMannerMap.isEmpty()}">
            받은 비매너가 없습니다
        </th:block>
        <th:block th:unless="${negativeMannerMap.isEmpty()}">
            <div th:if="${negativeMannerMap.containsKey('common')}" th:each="negative:${negativeMannerMap['common']}">
                <p th:text="|${negative.reviewSellerIndicator.description} ${negative.count}|"> </p>
            </div>
            <div th:if="${negativeMannerMap.containsKey('seller')}" th:each="negative:${negativeMannerMap['seller']}">
                <p th:text="|${negative.reviewSellerIndicator.description} ${negative.count}|"> </p>
            </div>
            <div  th:if="${negativeMannerMap.containsKey('buyer')}" th:each="negative:${negativeMannerMap['buyer']}">
                <p th:text="|${negative.reviewBuyerIndicator.description} ${negative.count}|"> </p>
            </div>
        </th:block>
    </div>
        <hr>
    <span>-받은 비매너 내역은 나에게만 보입니다.</span>
</div> <!-- /form-container -->
</div>

<div layout:fragment="script" th:inline="javascript">
<script th:inline="javascript">
</script>
</div>