<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>회원 정보 폼</title>
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--          href="/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="/css/profile.css" rel="stylesheet" />
    <style>
        .form_container {
            max-width: 560px;
            padding-left: 100px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .field-error-border {
            border-color: #dc3545;
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="form_container">
        <div class="py-5 text-center">
            <h2>개인정보 수정</h2>
        </div>
        <button class="w-50 btn btn-secondary btn-group-sm"
                type="button"  th:onclick="|location.href='@{/members/{memId}/trade/buyList(memId=${session.loginMember.memId})}'|">구매내역 보기</button>
        <div style="height: 10px"></div>

        <h4 class="mb-3"> 프로필 수정 </h4>
        <form id="profileEditForm">
            <input type="hidden" name="memId" th:value="${profileForm.memId}" >
            <div>
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" name="nickname"
                       class="formcontrol" th:value="${profileForm.nickname}"
                       th:onchange="pfEditBtnActive()">
                <div id="nick-error"/>
            </div>

            <div>
                <label for="profImg">프로필 이미지</label>
                <div class="profile-img">
                    <img th:src="|/members/${profileForm.memId}/profileImg|" alt="프로필이미지">
                </div>
                <input type="file" id="profImg"  name="profImg"
                       class="formcontrol"
                       th:onchange="pfEditBtnActive()">
                <div id="image-error"/>
            </div>

            <div>
                <label for="loc">내 동네</label>
                <select id="loc" name="loc" th:onchange="pfEditBtnActive()">
                    <th:block th:each="locValue:${T(com.exercise.carrotproject.domain.enumList.Loc).values()}">
                        <option th:value="${locValue}" th:if="${!locValue.locCode.equals(profileForm.loc.locCode)}">
                            [[${locValue.locName}]]</option>
                        <option th:value="${locValue}" th:if="${locValue.locCode.equals(profileForm.loc.locCode)}" selected>
                            [[${locValue.locName}]]</option>
                    </th:block>
                </select>
                <!--<div class="field-error" th:errors="*{profileForm.loc}" />-->
            </div>

            <button class="w-50 btn btn-secondary btn-group-sm"
                    id="pfEditBtn" disabled type="submit">프로필 수정</button>
        </form>

        <hr class="my-4">

        <h4 class="mb-3">비밀번호 수정</h4>
        <form action="" th:action="@{/members/{memId}/edit/pwd(memId=${pwdUpdateForm.memId})}"
              th:object="${pwdUpdateForm}" method="post">
            <input type="hidden" name="memId" th:value="${pwdUpdateForm.memId}">
            <div>
                <label for="memPwd">비밀번호</label>
                <input type="password" id="memPwd" th:field="*{pwd}"
                       class="formcontrol">
                <div class="field-error" th:errors="*{pwd}" />
            </div>
            <div>
                <label for="pwdConfirm">비밀번호 재확인</label>
                <input type="password" id="pwdConfirm" th:field="*{pwdConfirm}"
                       class="formcontrol">
                <div class="field-error" th:errors="*{pwdConfirm}" />
            </div>
            <button class="w-50 btn btn-secondary btn-sm" type="submit">비밀번호 수정</button>
        </form>
    </div> <!-- /form-container -->

    <br/>
    <br/>
    <button class="w-50 btn btn-secondary btn-group-sm"
            type="button" th:onclick="|location.href='@{/members/{memId}/wishes(memId=${session.loginMember.memId})}'|">관심목록</button>

    <button class="w-50 btn btn-secondary btn-group-sm"
            type="button" th:onclick="|location.href='@{/members/{memId}/trade/sellList(memId=${session.loginMember.memId})}'|">판매내역</button>

</div>

<div layout:fragment="script">
<!--    <script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=[593AE8E8-EC6D-350F-8E69-BC6C4E15A535]"></script>-->
<script th:inline="javascript">
    function pfEditBtnActive() {
        const target = document.getElementById('pfEditBtn');
        target.disabled = false;
    }
    $('#profileEditForm').on('submit', function(e) {
        e.preventDefault();
        let memId = [[${profileForm.memId}]];
        let url = `/members/${memId}/edit/profile`;
        const formData = new FormData($('#profileEditForm')[0]);
        $.ajax({
            url: url,
            type: "PATCH",
            data: formData,
            contentType: false,
            processData: false,
            headers: {
                "Accept": "application/json"
            }
        })
        .done(function(data) {
            console.log(data.member);
            alert('프로필 변경에 성공했습니다');
        })
        .fail(function(err) {
            alert('프로필 변경에 실패했습니다');
            const message = err.responseJSON;
            console.log(message);
           if(message.nickname) {
                $('#nick-error').replaceWith(`<div id="nick-error" class="field-error">${message.nickname}</div>`)
                $("#nickname").addClass("field-error-border");
            }if ('fail-nickname' in message) {
                $('#nick-error').replaceWith(`<div id="nick-error" class="field-error">중복된 닉네임입니다.</div>`)
                $("#nickname").addClass("field-error-border");
            }if('fail-image' in message) {
                $('#image-error').replaceWith(`<div id="image-error" class="field-error">
                                    프로필 사진이 이미지 파일이 아닙니다. .jpg, .png, .gif의 이미지 파일만 업로드 가능합니다.
                                    </div>`)
            } if(!message.nickname && !'fail-nickname' in message && !'fail-image' in message)
                alert('프로필 변경에 실패했습니다');

        });

    });

    /*
    const profileEditForm = document.getElementById('profileEditForm');
    profileEditForm.addEventListener('submit', (e) => {
        e.preventDefault();
        let memId = [[${profileForm.memId}]];
        let url = `/members/${memId}/edit/profile`;
        console.log(url);
        const formData= new FormData(profileEditForm);
        fetch(url, {
            method: "PATCH",
            body: formData,
            headers: {
                "Accept": "application/json"
            }
        })
        .then((response) => {
            if (!response.ok){
                return response.text().then(text => { throw new Error(text) })
            } else {
                return response.json()
            };
        })
        .then((data) => {
            console.log(data.member);
            alert('프로필 변경에 성공했습니다');
        })
        .catch((error) => {
            const failUpdate = JSON.parse(error.message).fail_update;
            if(failUpdate == 'imageType') {
                alert('프로필 사진이 이미지 파일이 아닙니다. .jpg, .png, .gif의 이미지 파일만 업로드 가능합니다.');
            } else{
                alert('프로필 변경에 실패했습니다');
            }
        });
    });*/

/*function buyListView() {
    let memId = [[${session.loginMember.memId}]];
    let url = '/members/buyList'+memId
    $.ajax({
        type: 'get',
        url: url,
        success: function (data) {
            $("#buyList").replaceWith(`
                                    `);

        },
        error: function (err) {
        }
    })
}

    function sellListView() {
        let memId = [[${session.loginMember.memId}]];
        let url = '/members/sellList'+memId
        $.ajax({
            type: 'get',
            url: url,
            success: function (data) {
                $("#buyList").replaceWith(`<div class="user_name" id="user_nick"> ${nickname} </div>`
                );

                $("#sellList").replaceWith(`<div id="modal_nick"> ${nickname}님의 프로필 </div>`);
            },
            error: function (err) {
            }
        })
    }*/
</script>
</div>