<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>회원 정보 폼</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/profile.css" rel="stylesheet" />
    <style>
        .form_container {
            max-width: 560px;
            padding-left: 100px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<div layout:fragment="content">
    <div class="form_container">
        <div class="py-5 text-center">
            <h2>개인정보 수정</h2>
        </div>

        <h4 class="mb-3">프로필 수정</h4>
        <form id="profileEditForm">
            <input type="hidden" name="memId" th:value="${session.loginMember.memId}" >
            <div>
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" name="nickname"
                       class="formcontrol" th:value="${profileForm.nickname}"
                       th:onchange="pfEditBtnActive()">
<!--                       th:classappend="${errors?.containsKey('itemName')} ? 'fielderror' : _"-->
                <div class="field-error" th:errors="*{profileForm.nickname}" />
            </div>

            <div>
                <label for="profImg">프로필 이미지</label>
                <div class="profile-img">
                    <img th:src="|/members /${member.memId}/profileImg|" alt="프로필이미지">
                </div>
                <input type="file" id="profImg"  name="profImg"
                       class="formcontrol"
                       th:onchange="pfEditBtnActive()">
<!--                <input id="profimg" type="file" name="profimg" required="required" onChange="fileChange();" style="display:none">-->
                
            </div>

            <div>
                <label for="loc">내 동네</label>
                <select id="loc" name="loc" th:onchange="pfEditBtnActive()">
                    <th:block th:each="locValue:${T(com.exercise.carrotproject.domain.enumList.Loc).values()}">
                        <option th:value="${locValue}" th:if="${!locValue.locCode.equals(profileForm.loc.locCode)}">
                            [[${locValue.locName}]]</option>
                        <option th:value="${locValue}" th:if="${locValue.locCode.equals(profileForm.loc.locCode)}" selected>
                            [[${locValue.locName}]]</option>
                    </th:block>
                </select>
                <div class="field-error" th:errors="*{profileForm.loc}" />
            </div>

            <button class="w-50 btn btn-secondary btn-group-sm"
                    id="pfEditBtn" disabled type="submit">프로필 수정</button>
        </form>

        <hr class="my-4">

        <h4 class="mb-3">비밀번호 수정</h4>
        <form action="" th:action="@{/members/{memId}/pwdEdit(memId=${session.loginMember.memId})}"
              th:object="${pwdUpdateForm}" method="post">
            <input type="hidden" name="memId" th:value="${session.loginMember.memId}">
            <div>
                <label for="memPwd">비밀번호</label>
                <input type="password" id="memPwd" th:field="*{pwd}"
                       class="formcontrol">
                <div class="field-error" th:errors="*{pwd}" />
            </div>
            <div>
                <label for="pwdConfirm">비밀번호 재확인</label>
                <input type="password" id="pwdConfirm" th:field="*{pwdConfirm}"
                       class="formcontrol">
                <div class="field-error" th:errors="*{pwdConfirm}" />
            </div>
            <button class="w-50 btn btn-secondary btn-sm" type="submit">비밀번호 수정</button>
        </form>
    </div> <!-- /form-container -->

</div>

<div layout:fragment="script">
<!--    <script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=[593AE8E8-EC6D-350F-8E69-BC6C4E15A535]"></script>-->
<script th:inline="javascript">
    function pfEditBtnActive() {
        const target = document.getElementById('pfEditBtn');
        target.disabled = false;
    }

    const profileEditForm = document.getElementById('profileEditForm');
    profileEditForm.addEventListener('submit', (e) => {
        e.preventDefault();
        let memId = /*[[${session.loginMember.memId}]]*/;
        let url = "/members/"+memId+"/profileEdit";
        console.log(url);
        const formData= new FormData(profileEditForm);
        fetch(url, {
            method: "PATCH",
            body: formData
        })
        .then ((response) => {
            console.log(response.json())
            if (!response.ok){
                throw new Error('400 or 500 에러 발생');
            }
        })
        .then ((data) => {
            console.log(data);
            alert('프로필 변경에 성공했습니다');
        })
        // 에러처리
        .catch(() => {
            console.log('프로필 변경 에러');
            alert('프로필 변경에 실패했습니다');
        })
        /*let responsePromise = sendProfileData(url);
        responsePromise.then((res) => {
            console.log('This is in the then ' + res);
        }).then((data) => console.log(data))
        .catch((res) => {
            console.log('This is in the catch' + res);
        })*/
    });

/*    async function sendProfileData(url) {
        const formData= new FormData(profileEditForm);
        const response = await fetch(url, {
            method: 'PATCH',
            body: formData
        });
        return response;
    }*/

    /*


*/


</script>
</div>