<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>회원 정보 폼</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            max-width: 560px;
            padding-left: 100px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<div layout:fragment="content">
    <div class="form-container">
        <div class="py-5 text-center">
            <h2>개인정보 수정</h2>
        </div>

        <h4 class="mb-3">프로필 수정</h4>
        <form id="profileEditForm">
            <input type="hidden" name="memId" th:value="${session.loginMember.memId}" >
            <div>
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" class="formcontrol" th:value="${profileForm.nickname}">
<!--                       th:classappend="${errors?.containsKey('itemName')} ? 'fielderror' : _"-->
                <div class="field-error" th:errors="*{profileForm.nickname}" />
            </div>

            <div>
                <label for="profpath">프로필 이미지</label>
                    <input id="profimg" type="file" name="profimg" required="required" onChange="fileChange();" style="display:none">
                <input type="file" id="profpath"  class="formcontrol">
            </div>

            <div>
                <label for="loc">내 동네</label>
                <select id="loc">
                    <th:block th:each="locValue:${T(com.exercise.carrotproject.domain.enumList.Loc).values()}">
                        <option th:value="${locValue}" th:if="${!locValue.locCode.equals(profileForm.loc.locCode)}">
                            [[${locValue.locName}]]</option>
                        <option th:value="${locValue}" th:if="${locValue.locCode.equals(profileForm.loc.locCode)}" selected>
                            [[${locValue.locName}]]</option>
                    </th:block>
                </select>
                <div class="field-error" th:errors="*{profileForm.loc}" />
            </div>

            <button class="w-50 btn btn-secondary btn-group-sm" id="profileEditBtn" type="button">프로필 수정</button>
        </form>

        <hr class="my-4">

        <h4 class="mb-3">비밀번호 수정</h4>
        <input type="hidden" name="memId" th:value="${session.loginMember.memId}">
        <form action="" th:action="@{/members/{memId}(memId=${session.loginMember.memId})}"
              th:object="${pwdUpdateForm}" method="post">
            <div>
                <label for="memPwd">비밀번호</label>
                <input type="password" id="memPwd" th:field="*{pwd}"
                       class="formcontrol">
                <div class="field-error" th:errors="*{pwd}" />
            </div>
            <div>
                <label for="pwdConfirm">비밀번호 재확인</label>
                <input type="password" id="pwdConfirm" th:field="*{pwdConfirm}"
                       class="formcontrol">
                <div class="field-error" th:errors="*{pwdConfirm}" />
            </div>
            <button class="w-50 btn btn-secondary btn-sm" type="submit">비밀번호 수정</button>
        </form>

    </div> <!-- /form-container -->

</div>

<div layout:fragment="script" th:inline="javascript">
<!--    <script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=[593AE8E8-EC6D-350F-8E69-BC6C4E15A535]"></script>-->

    <script th:inline="javascript">

    </script>
</div>