<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head layout:fragment="head">
    <title>회원 정보</title>
    <link href="/css/profile.css" rel="stylesheet" />
    <link href="/css/member_info.css" rel="stylesheet" />
    <style>
        /*.form_container {
            !*min-width: 560px;*!
            padding-top: 100px;
        }*/
    </style>
</head>
<div layout:fragment="content">
    <div class="container info-container my-5">
        <!--메뉴 바 (왼쪽)-->
        <div th:replace="~{/fragments/myPage_nav.html :: fragment-info-nav}"></div>
        <!--내용 (오른쪽)-->
        <div class="info-content">
            <div class="py-3 text-center">
                <h2 style="color: #555;">개인정보 수정</h2>
            </div>
            <div class="edit-form">
                <h4 class="mb-3 edit-title">비밀번호 변경</h4>
                <form action="" th:action="@{/members/{memId}/edit/pwd(memId=${pwdUpdateForm.memId})}"
                      style="width:300px"
                      th:object="${pwdUpdateForm}" method="post">
                    <input type="hidden" name="memId" th:value="${pwdUpdateForm.memId}">
                    <div class="pf-input">
                        <label for="memPwd">비밀번호</label>
                        <input type="password" id="memPwd" th:field="*{pwd}"
                               class="form-control">
                        <div class="field-error" th:errors="*{pwd}"></div>
                    </div>
                    <div class="pf-input">
                        <label for="pwdConfirm">비밀번호 재확인</label>
                        <input type="password" id="pwdConfirm" th:field="*{pwdConfirm}"
                               class="form-control">
                        <div class="field-error" th:errors="*{pwdConfirm}"></div>
                    </div>
                    <button class="edit-btn w-50 btn-orange btn-group-sm" type="submit">비밀번호 변경</button>
                </form>
            </div>
        </div> <!-- /form-container -->
    </div>
</div>

<div layout:fragment="script">
<script th:inline="javascript">
</script>
</div>