<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

    <head layout:fragment="head">
        <title>상품상세</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/detail.css" rel="stylesheet" />
        <!--사진 박스슬라이더-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    </head>

<div layout:fragment="content">

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <!--제품사진-->
                    <div class="container w-75">
                        <div class="slider">
                            <img class="card-img-detail mb-5 mb-md-0" th:each="imgId:${imgIds}" th:src="|/post/img/${imgId}|" alt="..." style="object-fit: cover;"/>
                        </div>
                    </div>
                    <div class="container w-75">
                        <!--판매여부선택/게시글관리버튼-->
                        <div class="mb-3">
                            <!--판매여부-->
                            <select id="selSellState" class="form-select-sm" th:if="${session.loginMember.memId}==${post.member.memId}" th:onchange="sellState([[${post.postId}]])">
                                <!--thymeleaf이용해 Enum클래스 정보 바로 가져오기-->
                                <option th:each = "sellStateEnum:${T(com.exercise.carrotproject.domain.enumList.SellState).values()}" th:value="${sellStateEnum.getSellStateName()}" th:text="${sellStateEnum.getSellStateName()}" th:selected="${sellStateEnum.getSellStateName()}==${post.sellState.getSellStateName()}"></option>
                            </select>
                            <!--게시글 관리: 삭제,숨김,수정-->
                            <button th:if="${session.loginMember.memId}==${post.member.memId}" class="btn btn-outline-dark btn-sm float-end" onclick="viewModal()">게시글 관리</button>
                        </div>

                       <!--프로필-->
                        <div class="d-flex py-sm-3 bd-top-bottom cursor" th:onclick="|location.href='@{/home/{memId}(memId=${post.member.memId})}'|">
                            <div class="profile-img">
                                <a th:href="@{/home/{memId}(memId=${post.member.memId})}">
                                 <img th:src="|/members/${post.member.memId}/profileImg|" alt="프로필이미지"/>
                                </a>
                            </div>
                            <div class="fx-in">
                                <span class="fs-4 fw-bold" th:text="${post.member.nickname}">닉네임</span>
                                <span class="fs-6 fw-normal small" th:text="${post.member.loc.getLocName()}">지역</span>
                            </div>
                            <!--매너온도-->
                            <div class="fx-in">
                                <span class="text-end fs-4 fw-bold f-orange" th:text="|${post.member.mannerScore}°C|"></span>
                                <span class="text-end text-secondary" th:text="매너온도"></span>
                            </div>
                            <!--온도계 아이콘-->
                            <i th:if="${post.member.mannerScore} <= 36.5" class="bi bi-thermometer-half fs-2 f-orange"></i>
                            <i th:if="${post.member.mannerScore} > 36.5" class="bi bi-thermometer-high fs-2 text-danger"></i>
                        </div>


                        <div class="mt-3">
                            <!--제목-->
                            <h1 class="fs-2 fw-bolder" th:text="${post.title}">제목</h1>
                            <!--카테고리, 시간-->
                            <div class="fs-6 fw-normal small text-secondary">
                                [[${post.category.getCategory()}]] ∙ [[${post.createdTime}]]
                            </div>
                        </div>

                        <!--내용-->
                        <div class="py-sm-5 mb-5">
                            <p class="fs-5 fw-normal" th:utext="${post.content}">상품설명</p>
                        </div>

                        <!--거래희망장소-->
                            <div id="mtPlaceSec" class="container px-0 my-sm-5" th:if="${mtPlace!=null}">
                                <h2 class="fs-4 fw-bold mb-4">거래희망장소</h2>
                                <div id="map" style="width:100%; height:350px; margin: 0 auto;"></div>
                            </div>

                        <!--조회수, 관심수, 채팅수-->
                        <div class="my-sm-3">
                            <span class="fs-6 fw-normal small text-secondary" th:text="'조회 '+${post.hits}"> </span>
                            <span id="wishCount" class="fs-6 fw-normal small text-secondary" th:with="var=${countWish}" th:newCountWish="${var}" th:text="' ∙ 관심 '+ ${countWish}"> </span>
                            <span class="fs-6 fw-normal small text-secondary" th:text="' ∙ 채팅 '+${countChatRoom}"> </span>
                        </div>

                        <div class="d-flex bd-top-bottom py-sm-3">
                            <!--찜-->
                            <div class="me-3">
                                <i id="emptyHeart" class="bi bi-heart cursor" th:onclick="addWish([[${post.postId}]])" style="display:none; font-size: 2rem; margin-right: 5%" ></i>
                                <i id="fillHeart" class="bi bi-heart-fill cursor" th:onclick="rmvWish([[${post.postId}]])" style="display:none; font-size: 2rem; color: red; margin-right: 5%"></i>
                            </div>
                            <div class="vr fs-1"></div>

                            <!--가격-->
                            <div class="fs-3 fw-bolder mx-sm-4">
                                <span th:if="${post.price}!=0" th:text="|${post.price}원|">가격</span>
                                <span th:if="${post.price} == 0">가격없음</span>

                            </div>
                            <!--채팅하기-->
                            <div class="me-0 ms-auto">
                                <button class="btn-orange" type="button" th:if="${session.loginMember.memId}==${post.member.memId} and ${!post.sellState.getSellStateName().equals('판매완료')}" th:onclick="|location.href='@{/chat/chatRoomListByPost/{postId}(postId=${postId})}'|">대화 중인 채팅방</button>
                                <button class="btn-orange" type="button" th:if="${session.loginMember.memId}!=${post.member.memId} and ${!post.sellState.getSellStateName().equals('판매완료')}" th:onclick="|location.href='@{/chat/post/{postId}/{sellerId}(postId=${postId}, sellerId=${post.member.memId})}'|">채팅하기</button>
                                <button class="btn btn-secondary disabled" th:if="${post.sellState.getSellStateName().equals('판매완료')}"  >거래완료</button>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
        </section>


        <!--모달-->
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-5 fw-bold">게시글 관리</h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <!--수정-->
                        <div class="fs-6 fw-normal cursor">
                            <a class="a-deco-none" th:href="|/post/updatePost/${post.postId}|"> 게시글수정</a>
                        </div>
                        <hr/>
                        <!--숨김-->
                        <div class="fs-6 fw-normal cursor" th:onclick="hideState([[${post.postId}]], [[${post.hideState.getHideStateName()}]])">
                            <a th:if="${post.hideState.getHideStateName()} == '보임'" > 게시글 숨기기</a>
                            <a th:if="${post.hideState.getHideStateName()} == '숨김'" > 게시글 보이기</a>
                        </div>
                        <hr/>
                        <!--삭제-->
                        <div class="fs-6 fw-normal cursor" th:onclick="deletePost([[${post.postId}]])">
                            <a > 게시글삭제</a>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn-orange"
                                data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>





        <!-- 판매자의 판매상품-->
            <div class="container px-4 px-lg-5 mt-5 bg-light w-75 py-sm-3">
                <h2 class="fs-4 fw-bold mb-4" th:text="|${post.member.nickname}님의 판매상품|" style="display: inline-block;">Related products</h2>
                <a th:href="@{/post/onSale/{memId}(memId=${post.member.memId})}" class="fw-normal mb-4 a-deco-none" style="margin-left: 5px;"> &gt; 더보기 </a>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5" th:each = "post, index :${sellerProductList}" th:if="${index.index} < 4">
                        <div class="card h-100" th:onclick="|location.href='@{|/post/detail/${post.postId}|}'|" style="cursor: pointer;">
                            <!-- 제품사진-->
                            <img class="card-img-top" th:src="|/post/firstImg/${post.postId}|" alt="제품사진" />
                            <!-- Product details-->
                            <div class="card-body p-3">
                                <div class="text-center">
                                    <!-- 제목-->
                                    <h5 class="fw-bolder text-truncate" th:text="${post.title}">제목</h5>
                                    <!--지역, 시간-->
                                    <p class="fw-normal text-secondary">[[${post.loc.locName}]] ∙ [[${post.createdTime}]]</p>
                                    <!-- 가격-->
                                    <h6 class="fw-bolder" th:if="${post.price}!=0" th:text="|${post.price}원|">가격</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>


<div layout:fragment="script" th:inline="javascript">
    <script>
        //사진 박스슬라이더
        $(document).ready(function(){
            $(".slider").bxSlider();
        });

        //모달창 띄우기
        function viewModal() {
            const modal = new bootstrap.Modal(document.querySelector(".modal"));
            modal.show();
        }
    </script>

    <script th:inline="javascript">

        //찜
        let value = [[${isWishExist}]];
        console.log("wishExist:", value);
        if (value=="exist"){
            $('#fillHeart').show();
        }else if(value=="none"){
            $('#emptyHeart').show();
        }else{
            console.log("value안잡힘")
        }
        //찜 추가
        function addWish(postId) {
            let memId = [[${session.loginMember.getMemId()}]];
            let data = {"postId" : postId, "memId": memId};

            let newCountWish = parseInt($('#wishCount').attr('newCountWish'))+1;
            $('#wishCount').attr('newCountWish', newCountWish);
            console.log("newCountWish:", newCountWish);

            $.ajax({
                url: '/post/addWish',
                type: 'POST',
                data: data,
                success: function(result){
                    // console.log();
                    //화면 처리
                    // alert(result);
                    // location.reload();
                    $('#emptyHeart').hide();
                    $("#fillHeart").show();
                    $('#wishCount').text(' ∙ 관심 '+ newCountWish);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.responseText);
                    alert("찜하기에 실패했습니다.");
                }
            })
        };
        //찜 해제
        function rmvWish(postId) {
            let memId = [[${session.loginMember.getMemId()}]];
            let data = {"postId" : postId, "memId": memId};

            let newCountWish = parseInt($('#wishCount').attr('newCountWish'))-1;
            $('#wishCount').attr('newCountWish', newCountWish);
            console.log("newCountWish:", newCountWish);


            $.ajax({
                url: '/post/rmvWish',
                type: 'POST',
                data: data,
                success: function(result){
                    // console.log();
                    //화면 처리
                    // alert(result);
                    // location.reload();
                    $("#fillHeart").hide();
                    $("#emptyHeart").show();
                    $('#wishCount').text(' ∙ 관심 '+newCountWish);

                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.responseText);
                    alert("실패했습니다.");
                }
            })
        };


        //게시물 숨기기/보이기
        function hideState(postId, hideStateName){
            console.log("postId:",postId,"hideState:",hideStateName);

            let data = {"postId" : postId, "hideStateName": hideStateName};

            $.ajax({
                url: '/post/hideState',
                type: 'POST',
                data: data,
                success: function(result){
                    console.log(result);
                    //화면 처리
                    alert(result);
                    location.reload();
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.responseText);
                    alert("변경에 실패했습니다.");
                }
            }); //$.ajax
        }

        //게시글 삭제
        function deletePost(postId){
            let data = {"postId": postId}
            let trueFalse = confirm("게시글을 삭제하시겠습니까?");
            if(trueFalse == true){
                $.ajax({
                    url: '/post/remove',
                    type: 'POST',
                    data: data,
                    success: function(result){
                        console.log(result);
                        //화면 처리
                        alert(result);
                        // location.href='/post/board';
                        location.href = document.referrer;
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR.responseText);
                        alert("게시글 삭제에 실패했습니다.");
                    }
                }); //$.ajax
            }
        }

        //판매여부 변경
        function sellState(postId){
            console.log("postId:",postId);

            let sellStateName = $("#selSellState").val();
            let data = {"postId" : postId, "sellStateName": sellStateName};

            if(sellStateName == "예약중" || sellStateName =="판매중"){
                let ok = confirm("작성하신 거래후기가 있을 경우 거래후기가 삭제됩니다. 변경하시겠습니까?");
                if(!ok) return;
            }

            $.ajax({
                url: '/post/sellState',
                type: 'POST',
                data: data,
                success: function(result){
                    console.log(result);
                    //화면 처리
                    alert(result+"(으)로 변경되었습니다.");

                    if(result == "판매완료"){
                        let trueFalse = confirm("거래후기를 작성하시겠습니까?")
                        if(trueFalse==true){
                            location.href=`/post/buyers/${postId}`;
                        } else{
                            location.reload();
                        }
                    } else {
                        location.reload();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.statusText);
                    alert("변경에 실패했습니다.");
                }
            }); //$.ajax
        }
    </script>



    <!--거래희망장소 지도-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e133f6ea3b90b5b74b80864ba7037219"></script>
    <script th:inline="javascript">

        let lat= [[${mtPlace?.lat}]];
        let lon= [[${mtPlace?.lon}]];
        let placeInfo= [[${mtPlace?.placeInfo}]];
        console.log(lat,lon,placeInfo)

        if([[${mtPlace}]] !== null) {
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lat, lon), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 마커가 표시될 위치입니다
            var markerPosition = new kakao.maps.LatLng(lat, lon);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            var iwContent = `<div style="padding:5px;">${placeInfo} <br><a href="https://map.kakao.com/link/map/${placeInfo},${lat},${lon}" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/${placeInfo},${lat},${lon}" style="color:blue" target="_blank">길찾기</a></div>`, // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwPosition = new kakao.maps.LatLng(lat, lon); //인포윈도우 표시 위치입니다

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                position: iwPosition,
                content: iwContent
            });

            // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
            infowindow.open(map, marker);
        }

    </script>
</div>
