<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head layout:fragment="head">
    <title>상품 등록</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--이미지 미리보기 css-->
    <link rel="stylesheet" href="/css/previewImg.css">
</head>


<div layout:fragment="content">
    <section class="py-5">
        <div class="container px-4 my-5">
            <div class="container container-sm container-item-create">
                <h2 class="container-headline text-center">중고거래 글쓰기</h2>
                <form id="upload_form" class="form-item-create">
                    <div class="form-group form-picture">
                        <div class="file-box">
                        <!--사진선택-->
                            <div class="inputFile">
                            <label for='inputImage' class="addImgBtn text-center"><i class="bi bi-camera fs-1"></i></label>
                            <input type="file" multiple="multiple" name="uploadFiles" id='inputImage' accept="image/*" style="display: none;">
                            </div>
                        <!--사진 미리보기-->
                            <ul id="Preview" class="sortable"></ul>
                        </div>
                        <div class="uploadResult"></div>
                    </div>



                <div class="form-group form-title">
                        <input type="text" class="form-control" id="productsTitle" name="title" placeholder="제목">
                    </div>
                    <div class="form-group form-category">
                        <select id="productsCategory" class="form-control" name="category">
                            <option value="" disabled selected>카테고리를 선택해주세요.</option>
                            <!--카테고리: thymeleaf이용해 Enum클래스 정보 바로 가져오기-->
                            <option th:each = "categoryList:${T(com.exercise.carrotproject.domain.enumList.Category).values()}" th:value="${categoryList.name}" th:text="${categoryList.category}"></option>
                        </select>
                    </div>
                    <div class="form-group form-price">
                        <input type="number" class="form-control" id="productsPrice" name="price" min="0" step="1000" placeholder="가격을 입력해주세요. (￦)">
                    </div>
                    <div class="form-group form-description">
                        <textarea class="form-control" id="productsDescription" name="content" rows="10" placeholder="제품 설명을 작성해주세요."></textarea>
                    </div>
                </form>

                    <!--거래희망장소-->
                    <button id="regPlace" class="btn btn-outline-secondary" type="button">거래희망장소 선택하기</button>
                    <!--카카오맵 지도-->
                    <div id="mapArea">
                        <br/>
                        <p class="fw-bold fs-6">거래 희망하는 장소를 지도에서 클릭해주세요!</p>

                        <div id="map" style="width:100%;height:350px; margin: 20px;"></div>

                        <div id="inputPlace" class="form-group form-car-mileage" style="display: none;">
                            <input type="text" class="form-control" id="placeInfo" name="placeInfo" placeholder="장소명을 입력해주세요. 예)강남역 1번 출구">
                        </div>
                        <button id="cfmPlace" class="btn btn-outline-secondary" type="button" style="display: none;">장소선택하기</button>

                        <!--                <div id="clickLatlng"></div>-->
                        <button id="noPlace" class="btn btn-outline-secondary" type="button" >장소선택 안함</button>
                    </div>

                    <br/><br/>
                    <button type="button" id="uploadBtn" class="btn-orange">상품 등록하기</button>
            </div>
        </div>
    </section>
</div>

<div layout:fragment="script" th:inline="javascript">
<!--jquery CDN-->
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

<!--지도API: head, body 등 어떠한 위치에 넣어도 상관없지만, 반드시 실행 코드보다 먼저 선언되어야 합니다.-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e133f6ea3b90b5b74b80864ba7037219"></script>
<script th:inline="javascript">

    //위도,경도 초기값
    var initLat= [[${session.loginMember.getLoc().getLat()}]];
    var initLon= [[${session.loginMember.getLoc().getLon()}]];

    <!--지도 띄우기-->
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(initLat, initLon), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 지도를 클릭한 위치에 표출할 마커입니다
    var marker = new kakao.maps.Marker({
        // 지도 중심좌표
        position: map.getCenter()
    });
    // 지도에 마커를 표시합니다
    marker.setMap(map);


    //위도, 경도, 장소정보
    var lat=0;
    var lon=0;
    var placeInfo="";

    // 지도에 클릭 이벤트를 등록합니다
    // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
    kakao.maps.event.addListener(map, 'click', function(mouseEvent) {


        // 클릭한 위도, 경도 정보를 가져옵니다
        var latlng = mouseEvent.latLng;

        // 마커 위치를 클릭한 위치로 옮깁니다
        marker.setPosition(latlng);

        //장소정보 입력창 보이기
        document.getElementById('inputPlace').style.display='block';
        document.getElementById('cfmPlace').style.display="inline-block";
    });

    //'장소선택하기'버튼 클릭시 위도,경도,장소정보 set
    document.getElementById('cfmPlace').addEventListener('click',function () {
        lat = marker.getPosition().getLat();
        lon = marker.getPosition().getLng();
        placeInfo = document.getElementById('placeInfo').value;

        console.log("장소선택클릭시:lat, lon, placeInfo:", lat, lon, placeInfo);
        if (!placeInfo){ //문자열 비어있을 때 true를 반환
            alert("장소명을 입력해주세요.")
        } else if (!lat || !lon){
            alert("거래희망장소를 지도에서 클릭해주세요.")
        } else {
            console.log("마커의 lat:{}, lon:{}, placeinfo:{}", lat, lon, placeInfo);
            $('#mapArea').hide();
            $('#uploadBtn').show();
        }
    });


        //지도 숨겼다가 거래희망장소등록 버튼 클릭시 보이기 (지도생성 코드 아래에 위치하기)
        $('#mapArea').hide();

        $('#regPlace').click(function (){
            $('#mapArea').show();
            relayout();
            //업로드버튼 숨기기
            $('#uploadBtn').hide();
        });

        //장소선택안함 클릭시
        $('#noPlace').click(function (){
            $('#mapArea').hide();
            lat=0;
            lon=0;
            placeInfo="";
            // marker.setMap(null);
            document.getElementById('placeInfo').value=null;
            console.log("장소선택안함클릭시 lat:{}, lon:{}, placeinfo:{}", lat, lon, placeInfo);

            //업로드버튼 보이기
            $('#uploadBtn').show();

        })

        function relayout() {
            // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
            // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다
            // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
            map.relayout();
        }



    //미리보기 이미지------------------------------------------------

        //드래그 앤 드롭
        // $(".sortable").sortable();

        //이미지 등록
        $("#inputImage").change(function(e){
            //div 내용 비워주기
            $('#Preview').empty();

            // const fileInput = document.querySelector('#inputImage');
            var files = e.target.files; //선택한 파일을 가져옴.
            var arr = Array.from(files);

            // var arr = Array.prototype.slice.call(files);
            //Array 객체의 slice() 메서드를 사용하여 객체(files)를 배열(arr)로 변환.
            //call() 메소드를 사용하여 slice() 메소드를 호출하면, 인수로 전달된 객체가 slice() 메소드의 this 값이 됨.

            //업로드 가능 파일인지 체크
            for(var i=0; i<files.length; i++){
                if(!checkExtension(files[i].name,files[i].size)){
                    return false;
                }
            }
            preview(arr);

            function checkExtension(fileName,fileSize){
                // var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
                var maxSize = 20971520;  //20MB

                if(fileSize >= maxSize){
                    alert('이미지 크기가 초과되었습니다.');
                    $("#inputImage").val("");  //파일 초기화
                    return false;
                }

                // if(regex.test(fileName)){
                //     alert('확장자명을 확인해주세요.');
                //     $("#inputImage").val("");  //파일 초기화
                //     return false;
                // }
                return true;
            }

            function preview(arr){
                arr.forEach(function(f){

                    //이미지 파일 미리보기
                    if(f.type.match('image.*')){
                        //파일을 읽기 위한 FileReader객체 생성
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                            //div에 이미지 추가
                            var str = `<li class="ui-state-default">
                                       <img id="${f.lastModified}" src="${e.target.result}" title="${f.name}" width=80 height=80>
                                       <span data-index="${f.lastModified}" class="delBtn" onclick="delImg(this)">x</span>
                                       </li>`
                            $(str).appendTo('#Preview');

                        }
                        reader.readAsDataURL(f); //reader에게 e.target.files[0](업로드된 파일)를 URL로 읽으라고 명령

                    }else{
                        //이미지 파일 아닐 경우
                        alert('이미지가 아닌 파일은 업로드할 수 없습니다.');

                    }
                })
            }
        })

        //미리보기 이미지 삭제, 파일리스트에서 삭제
        function delImg(e){
            console.log(e.className);

            if(e.className !== 'delBtn') return;
            const removeTargetId = e.dataset.index;
            const removeTarget = document.getElementById(removeTargetId);
            const files = document.querySelector('#inputImage').files; //사용자가 입력한 파일을 변수에 할당
            const dataTransfer = new DataTransfer();

            // document.querySelector('#file-input').files =
            //             Array.from(files).filter(file => file.lastModified !== removeTarget);


            //변수에 할당된 파일을 배열로 변환(FileList -> Array)
            Array.from(files)
                .filter(file => file.lastModified != removeTargetId) //제거할 파일이 아닌 것들만 모음.
                .forEach(file => {
                    dataTransfer.items.add(file);  //배열을 dataTransfer로 처리(Array -> FileList)
                });

            document.querySelector('#inputImage').files = dataTransfer.files;

            //파일리스트에서 삭제
            removeTarget.remove();
            //미리보기에서 삭제
            $(e).parent('li').remove();
        }

        //게시글 업로드-----------------------------------------------
        $('#uploadBtn').click(function( ) {

            var uploadForm = $('#upload_form'); //$(...) 하면 객체 하나가 리턴
            // var mapData = { "lat": lat, "lon": lon, "placeInfo": placeInfo};

            var formData = new FormData(uploadForm[0]); //FormData에는 객체가 들어가지 못함. so객체에서 인덱스로 뽑아옴.

            formData.append("lat", lat);
            formData.append("lon", lon);
            formData.append("placeInfo", placeInfo);


            //formData 출력
            // for (let key of formData.keys()) {
            //     console.log(key, ":", formData.get(key));
            // }

            //실제 업로드 부분
            //upload ajax
            //파일업로드를 위해 contentType 속성을 반드시 false로 지정한다 -> multipart/form-data 타입을 사용하기위해
            $.ajax({
                url: '/post/upload',
                type: 'POST',
                data: formData,
                processData: false, //processData : false로 선언 시 formData를 string으로 변환하지 않음
                contentType: false, //contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게 함
                enctype:'multipart/form-data',
                success: function(result){ //컨트롤러에서 return이 없을 경우 바로 새로고침해버림(?)
                    console.log(result);
                    //화면 처리
                    alert(result);
                    location.href = "/post/board";
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.responseText);
                    alert(jqXHR.responseText);
                }

            }); //$.ajax
        }); //end click

    </script>
</div>
