<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="fragment-info-nav">
<div class="info-nav">
    <div class="nav-top">
        <div class="profile-top">
            <div class="profile-img" id="nav-pf-img">
                <img th:src="@{|/members/${session.loginMember?.memId}/profileImg|}" alt="프로필이미지">
            </div>
        </div>
        <p id="nav-pf-nick" th:text="|${session.loginMember?.nickname}|"></p>
    </div>
    <hr/>
    <div class="info-nav-btns">
        <div class="info-nav-btn">
            <p>&#183; &nbsp;</p>
            <a th:href="@{/members/{memId}/trade/sellList(memId=${session.loginMember.memId})}">
                판매내역 </a>
        </div>
        <div class="info-nav-btn">
            <p>&#183; &nbsp;</p>
            <a th:href="@{/members/{memId}/trade/buyList(memId=${session.loginMember.memId})}">
                구매내역 </a>
        </div>
        <div class="info-nav-btn">
            <p>&#183; &nbsp;</p>
            <a th:href="@{/members/{memId}/wishes(memId=${session.loginMember.memId})}">
                관심목록 </a>
        </div>
        <div class="info-nav-btn">
            <p>&#183; &nbsp;</p>
            <a th:href="@{/members/{memId}/edit/pf(memId=${session.loginMember.memId})}">
                프로필 관리 </a>
        </div>
        <div class="info-nav-btn">
            <p>&#183; &nbsp;</p>
            <a th:href="@{/members/{memId}/edit/pwd(memId=${session.loginMember.memId})}">
                비밀번호 변경 </a>
        </div>
    </div>
</div>
</html>

