a {color: #fff; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none; cursor: pointer; color: black}

hr {
    margin: 0;
    padding: 0;
    color: #adb5bd;
}

.form-container {
    width: 900px;
}
.profile-container {
    /*width: 300px;*/
    height: auto;
    padding: 30px 10px 30px 30px;
    /*padding-left: 10px;*/
    /*padding-top: 10px;*/
}

.profile-left{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    border: 1px solid #e9ecef;
}
.profile-left img{
    width: 100%;
    height: 100%;
}
.profile-center {
    width: 220px;
    padding: 0 0 0 15px;
    margin-right: 150px;
}

.profile-right {
    width: 350px;
    position: relative;
}
.profile-right .manner-label {
    text-align: right;
    font-weight: 400;
    color: #555;
    margin-bottom: 15px;
    padding-right: 15px;
}
.profile-right .mannerScore {
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 20px;
    left: 270px;
    font-size: 25px;
    font-weight: 500;
    color: #ff9d0a;
    margin: 0;
}
.profile-right .manner-range {
    width: 100%;
}
.profile-right .manner-range .manner-bar {
    width: 100%;
    height: 23px;
    border-radius: 50px;
    background-color: #dedede;
    font-weight: 600;
    font-size: .8rem;
}
.profile-right .manner-bar .manner {
    /*나타내고자 하는 퍼센트 값을 넣기.*/
    height: 100%;
    padding: 0;
    border-radius: 50px;
    text-align: center;
}
.profile-right .manner-range .defaultScore{
    width: 73%;
    color: #555;
    text-align: center;
    margin: 0;
}
.profile-right .manner-range .defaultArrow {
    width: 36.5%;
    color: #555;
    text-align: right;
    margin: 0;
    padding: 0;
}


.profile-center .nickname{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    display: inline;
}
.profile-center .loc{
    font-weight: 300;
    color: #555;
    margin-bottom: 15px;
    /*display: inline;*/
}
.profile-center .setting{
}
.profile-center .setting .pf-btn{
    width: 120px;
    height: 30px;
    color: #999;
    display: inline-block;
    text-decoration: underline;
}
.profile-center .setting .pf-btn:hover, .pf-btn:active {
    color: #777;
}

.home-btn{
    /*margin: auto 0;*/
    margin-top: 12px;
    width: 70px;
    height: 27px;
    display: inline;
    font-weight: 500;
    line-height: 1.5;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ff9d0a;
    border: 1px solid rgba(255, 157, 10, 0.98);
    font-size: 0.75rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .home-btn {
        transition: none;
    }
}
.home-btn:hover {
    color: #eeeeee;
    background-color: #ee9209;
}
.home-btn:disabled, .home-btn.disabled, fieldset:disabled .home-btn{
    pointer-events: none;
    opacity: 0.65;
}
.font-orange {
    color: #ffd09c;
}
.bg-light-orange{
    background-color: #fff2eb;
}
/*내용*/

.title {
    height: 50px;
    display: flex;
}
.content {
    padding: 10px;
}
.second-container, .third-container, .fourth-container {
    width: 800px;
    padding: 20px 10px;
    margin : 10px auto;
}
.second-container .selling-count-label {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    display: inline;
    font-weight: 500;
    color: #ee9209;
    /*margin-right: 10px;*/
    margin: auto 10px;
    font-size: 25px;
}
.second-container .home-btn{

}
.second-container .no-selling {
    font-size: 15px;
    font-weight: 400;
    color: #999;
    margin: 80px 100px;
    text-align: center;
}
.second-container .article {

}


.third-container .manner-detail-label {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    display: inline;
    font-weight: 500;
    color: #ee9209;
    /*margin-right: 10px;*/
    margin: auto 10px;
    font-size: 25px;
}

.third-container .no-manner-detail {
    font-size: 15px;
    font-weight: 400;
    color: #999;
    margin: 80px 100px;
    text-align: center;
}
.third-container .each-content {
    padding: 0 10px;
    height: 70px;
    /*position: relative;*/
    display: flex;
}

.third-container .each-content .col1 {
    font-size: 22px;
    display: inline-block;
    /*position: absolute;*/
    /*top: 10px;*/
}
.third-container .each-content .col2 {
    font-size: 20px;
    display: inline-block;
    position:relative;
    margin: 10px 0 0 25px;
    width:auto;
    height:45px;
    background: rgba(130, 130, 134, 0.82);
    border-radius: 10px;
    color: #e9ecef;
    padding: 10px;
}
.third-container .each-content .col2:after {
    border-top:15px solid rgba(130, 130, 134, 0.82);
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
}
.third-container .each-content .col2 p{
    margin: auto 0;
}

.fourth-container .manner-message-label {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    display: inline;
    font-weight: 500;
    color: #ee9209;
    /*margin-right: 10px;*/
    /*margin-top: 10px;*/
    margin: auto 10px;
    font-size: 25px;
}
.fourth-container .no-message {
    font-size: 15px;
    font-weight: 400;
    color: #999;
    margin: 80px 100px;
    text-align: center;
}

.fourth-container .message-one {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 170px;
    font-size: 20px;
    padding: 20px 10px 10px 10px;
    border-radius: 20px;
    border-bottom: 1px solid #e9ecef;
}
.fourth-container .message-one:last-of-type {
    border-bottom: none;
}

.fourth-container .message-one p{
     display: inline-block;
 }
.fourth-container .message-one .profile-line{
    display: flex;
    flex: 1;
    width: 700px;
}
.fourth-container .message-one .content-line, .time-line{
     flex: 1;
     width: 750px;
 }
.fourth-container .message-one .profile-line .message-profile-img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #e9ecef;
    display: inline-block;
}
.fourth-container .message-one .profile-line .message-profile-img img{
    width: 50px;
    height: 50px;
}

.fourth-container .message-one .profile-line .message-info{
    display: flex;
}
.fourth-container .message-one .profile-line .message-info .nickname{
    flex: 1;
    width: auto;
    margin: 5px 15px;
    height: 40px;
    font-size: 20px;
}
.fourth-container .message-one .profile-line .message-info .loc{
    flex: 1;
    width: auto;
    margin: 0;
    height: 50px;
    font-size: 15px;
    color: #777;
    line-height: 1;
    vertical-align: top;
    padding-top: 12px;
}
.fourth-container .message-one .content-line {
    padding: 0 0 0 65px;
    width: 80%;
    height: auto;
}
.fourth-container .message-one .time-line {
    padding: 0 0 0 65px;
    width: 80%;
    height: auto;
    font-size: 15px;
    color: #999;
    margin: 0;
}
.fourth-container .message-one .setting-bar .review_modal_btn{
    position: absolute;
    left: 650px;
    top : 15px;
    cursor: pointer;
    color: #555;
}
