.span {
    flex: 1 1 auto;
    text-align: center;
    background-color: #fde69d;
    border: 1px solid #ffffff;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;

}

.span:hover,
.span-inner:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}

.span-inner{
    flex: 1 1 auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 1.9rem;
    line-height: 1.9rem;
    font-size: 0.8rem;
    font-weight: normal;
    cursor: pointer;
    justify-content: space-between;
    z-index: 100000;
}

.card-body {
    height: 7rem;
}