<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />



        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="/css/profile.css" rel="stylesheet" />

        <!--사진 박스슬라이더-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>



    </head>
    <body>
    <!-- Navigation-->
    <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>



        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <!--제품사진-->
                    <div class="col-md-6">
                        <div class="slider">
<!--                        <li th:each="imgId:${imgIds}">-->
                            <img class="card-img-top mb-5 mb-md-0" th:each="imgId:${imgIds}" th:src="|/post/img/${imgId}|" alt="..." style="object-fit: cover;"/>
                        </div>
                    </div>
<!--                        </li>-->
                    <div class="col-md-6">
                       <!--프로필-->
                        <p>[[${post.member.nickname}]]</p>
                        <div class="profile-img">
                            <a th:href="@{/home/{memId}(memId=${post.member.memId})}">
                             <img th:src="|/members/${post.member.memId}/profileImg|" alt="프로필이미지"/>
                            </a>
                        </div>

                        <!--게시글 메뉴바: 삭제,숨김,수정-->
                        <i th:if="${session.loginMember.memId}==${post.member.memId}" class="bi bi-three-dots-vertical fs-1" onclick="viewModal()"></i>

                        <!--카테고리-->
                        <div class="small mb-1" th:text="${post.category.getCategory()}">SKU: BST-498</div>
                        <!--제목-->
                        <h1 class="display-5 fw-bolder" th:text="${post.title}">제목</h1>
                        <div class="fs-5 mb-5">
<!--                            <span class="text-decoration-line-through" >$45.00</span>-->
                            <span th:text="|${post.price}원|">$40.00</span>
                        </div>
                        <p class="lead" th:utext="${post.content}">상품설명</p>
                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                            <button th:if="${session.loginMember.memId}==${post.member.memId}" class="btn btn-outline-dark flex-shrink-0" type="button" th:onclick="|location.href='@{/chat/chatRoomListByPost/{postId}(postId=${postId})}'|">대화 중인 채팅방</button>
                            <button th:unless="${session.loginMember.memId}==${post.member.memId}" class="btn btn-outline-dark flex-shrink-0" type="button" th:onclick="|location.href='@{/chat/post/{postId}(postId=${postId})}'|">채팅하기</button>
                        </div>


                        <!--판매여부-->
                        <select id="selSellState" th:if="${session.loginMember.memId}==${post.member.memId}" th:onchange="sellState([[${post.postId}]])">
                            <!--thymeleaf이용해 Enum클래스 정보 바로 가져오기-->
                            <option th:each = "sellStateEnum:${T(com.exercise.carrotproject.domain.enumList.SellState).values()}" th:value="${sellStateEnum.getSellStateName()}" th:text="${sellStateEnum.getSellStateName()}" th:selected="${sellStateEnum}==${post.sellState}"></option>

                        </select>

                    </div>
                </div>
            </div>
        </section>


        <!--모달-->
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">게시글 관리</h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <!--수정-->
                        <div>
                            <a th:href="|/post/updatePost/${post.postId}|"> 게시글수정</a>
                        </div>

                        <!--숨김-->
                        <div th:onclick="hideState([[${post.postId}]], [[${post.hideState.getHideStateName()}]])">
                            <a th:if="${post.hideState.getHideStateName()} == '보임'" > 게시글 숨기기</a>
                            <a th:if="${post.hideState.getHideStateName()} == '숨김'" > 게시글 보이기</a>
                        </div>
                        <!--삭제-->
                        <div th:onclick="deletePost([[${post.postId}]])">
                            <a > 게시글삭제</a>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn-secondary"
                                data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>




        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4" th:text="|${post.member.nickname}님의 판매상품|">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00 - $80.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$50.00</span>
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>

        <!--사진 박스슬라이더-->
        <script>
            $(document).ready(function(){
                $(".slider").bxSlider();
            });
        </script>

        <script>

            //모달창 띄우기
            function viewModal() {
                const modal = new bootstrap.Modal(document.querySelector(".modal"));
                modal.show();
            }

            //게시물 숨기기/보이기
            function hideState(postId, hideStateName){
                console.log("postId:",postId,"hideState:",hideStateName);

                let data = {"postId" : postId, "hideStateName": hideStateName};

                $.ajax({
                    url: '/post/hideState',
                    type: 'POST',
                    data: data,
                    success: function(result){
                        console.log(result);
                        //화면 처리
                        alert(result);
                        location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR.responseText);
                        alert("변경에 실패했습니다.");
                    }
                }); //$.ajax
            }

            //게시글 삭제
            function deletePost(postId){
                let data = {"postId": postId}
                let trueFalse = confirm("게시글을 삭제하시겠습니까?");
                if(trueFalse == true){
                    $.ajax({
                        url: '/post/remove',
                        type: 'POST',
                        data: data,
                        success: function(result){
                            console.log(result);
                            //화면 처리
                            alert(result);
                            // location.href='/post/board';
                            location.href = document.referrer;
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(jqXHR.responseText);
                            alert("게시글 삭제에 실패했습니다.");
                        }
                    }); //$.ajax
                }
            }

            //판매여부 변경
            function sellState(postId){
                console.log("postId:",postId);

                let sellStateName = $("#selSellState").val();
                let data = {"postId" : postId, "sellStateName": sellStateName};

                $.ajax({
                    url: '/post/sellState',
                    type: 'POST',
                    data: data,
                    success: function(result){
                        console.log(result);
                        //화면 처리
                        alert(result);
                        // location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        console.log(jqXHR.statusText);
                        alert("변경에 실패했습니다.");
                    }
                }); //$.ajax
            }



        </script>

    </body>
</html>
