<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>상품 등록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />-->
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
</head>
<body>
<!--    <nav class="navbar nav-global fixed-top navbar-expand-sm">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="javascript:history.back()">-->
<!--                <i class="material-icons ic-filter">arrow_back_ios</i>뒤로-->
<!--            </a>-->
<!--        </div>-->
<!--    </nav>-->

    <div class="container container-sm container-item-create">
        <h5 class="container-headline">중고거래 글쓰기</h5>

        <form id="upload_form" class="form-item-create">
            <div class="form-group form-picture">
                <div class="file-box">
                    <input class="upload-name" name="" value="파일선택" disabled="disabled">
                    <label for="ex_filename" class="btn btn-secondary">업로드</label>
                    <input type="file" id="ex_filename" style="display:none;">
                </div>
            </div>

            <div class="form-group form-title">
                <input type="text" class="form-control" id="productsTitle" name="title" placeholder="제목">
            </div>
            <div class="form-group form-category">
                <select id="productsCategory" class="form-control" name="category">
                    <option value="" disabled selected>카테고리를 선택해주세요.</option>
                    <!--thymeleaf이용해 Enum클래스 정보 바로 가져오기-->
                    <option th:each = "categoryList:${T(com.exercise.carrotproject.domain.enumList.Category).values()}" th:value="${categoryList.name}" th:text="${categoryList.category}"></option>

                </select>
            </div>
            <div class="form-group form-price">
                <input type="number" class="form-control" id="productsPrice" name="price" min="0" step="1000" placeholder="가격을 입력해주세요. (￦)">
            </div>
            <div class="form-group form-description">
                <textarea class="form-control" id="productsDescription" name="content" rows="10" placeholder="제품 설명을 작성해주세요."></textarea>
            </div>

            <div class="form-group form-car-mileage">
                <input type="text" class="form-control" id="carMileage" name="wishPlace" placeholder="거래희망장소">
            </div>
<!--            <div class="form-group form-car-smoking">-->
<!--                <label>차량 판매자 흡연 여부</label>-->
<!--                <div class="form-check form-check-inline form-check-smoking">-->
<!--                    <input class="form-check-input" type="radio" name="smokingOptions" id="inlineSmoker" value="true">-->
<!--                    <label class="form-check-label smoker" for="inlineSmoker">예, 흡연자 입니다.</label>-->
<!--                </div>-->
<!--                <div class="form-check form-check-inline form-check-nonsmoking">-->
<!--                    <input class="form-check-input" type="radio" name="smokingOptions" id="inlineNonSmoker" value="false">-->
<!--                    <label class="form-check-label non-smoker" for="inlineNonSmoker">아니오, 비 흡연자 입니다.</label>-->
<!--                </div>-->
<!--            </div>-->
            <button type="button" id="uploadBtn" class="btn btn-primary btn-submit">상품 등록하기</button>
        </form>
    </div>

    <footer>
        <div class="container">
            <a href="board.html">2019 당근 마켓</a>
            <h6>Copyright © Danggeun Market Inc. All rights reserved.</h6>
        </div>
    </footer>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js" integrity="sha256-59/apVFrosMLFX2dHZLGvb3nPpu7e0Yx1rsDr1dTRrk=" crossorigin="anonymous"></script>-->


<!--jquery CDN-->
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script>
        $('#uploadBtn').click(function( ) {

            var uploadForm = $('#upload_form')[0]; //$(...) 하면 객체 하나가 리턴
            var formData = new FormData(uploadForm); //FormData에는 객체가 들어가지 못함. so객체에서 인덱스로 뽑아옴.

            //실제 업로드 부분
            //upload ajax
            //파일업로드를 위해 contentType 속성을 반드시 false로 지정한다 -> multipart/form-data 타입을 사용하기위해
            $.ajax({
                url: '/post/upload',
                type: 'POST',
                data: formData,
                processData: false, //processData : false로 선언 시 formData를 string으로 변환하지 않음
                contentType: false, //contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게 함
                // dataType:'json',
                enctype:'multipart/form-data',
                success: function(result){ //컨트롤러에서 return이 없을 경우 바로 새로고침해버림(?)
                    console.log(result);
                    //화면 처리
                    alert("상품이 게시되었습니다.");
                    location.href = "/"+result;
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(textStatus);
                }

            }); //$.ajax
        }); //end click



        // $(document).ready(function(){
        //     var fileTarget = $('.file-box .upload-hidden');
        //
        //     fileTarget.on('change', function(){
        //         if(window.FileReader){
        //             var filename = $(this)[0].files[0].name;
        //         } else {
        //             var filename = $(this).val().split('/').pop().split('\\').pop();
        //         }
        //
        //         $(this).siblings('.upload-name').val(filename);
        //     });
        // });


    </script>
</body>
</html>