<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>상품 등록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />-->
<!--    <link rel="stylesheet" type="text/css" href="css/style.css">-->
    <style>

        .inputFile,
        #Preview,
        #Preview li{
            float:left
        }
        .inputFile{
            margin-bottom: 10px;
        }
        .addImgBtn{
            width: 80px !important;
            height: 80px !important;
            line-height: 71px !important;
            background-color: #fff !important;
            color: #b7b7b7 !important;
            border: 2px solid #b7b7b7;
            font-size: 35px !important;
            padding: 0 !important;
        }

        #Preview{
            margin-left: 20px;
            width: 650px;
        }
        #Preview li{
            list-style: none;
            margin-left: 10px;
            margin-bottom: 10px;
            position: relative;
            border: 1px solid #ececec;
            cursor:move
        }
        .delBtn{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 13px;
            background-color: #000;
            color: #fff;
            width: 18px;
            height: 18px;
            line-height: 16px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
        }
    </style>
</head>
<body>
<!--    <nav class="navbar nav-global fixed-top navbar-expand-sm">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="javascript:history.back()">-->
<!--                <i class="material-icons ic-filter">arrow_back_ios</i>뒤로-->
<!--            </a>-->
<!--        </div>-->
<!--    </nav>-->

    <div class="container container-sm container-item-create">
        <h5 class="container-headline">중고거래 글쓰기</h5>
        <form id="upload_form" class="form-item-create">

            <div class="form-group form-picture">
                <div class="file-box">
                <!--사진-->
<!--                    <input class="upload-name"  value="파일선택" disabled="disabled">-->
<!--                    <label for="ex_filename" class="btn btn-secondary">업로드</label>-->
                    <div class="inputFile">
                    <label for='inputImage' class="addImgBtn">+</label>
                    <input type="file" multiple="multiple" name="uploadFiles" id='inputImage' accept="image/*">
                    </div>
                <!--사진 미리보기-->
<!--                    <img src="https://i0.wp.com/adventure.co.kr/wp-content/uploads/2020/09/no-image.jpg" class="image-box"-->
<!--                    style=" width: 200px;height: 200px;object-fit: cover;display: block;margin: 20px auto;"/>-->
                    <ul id="Preview" class="sortable"></ul>
<!--                    <div id="preview"></div>-->
                </div>
                <div class="uploadResult"></div>


            </div>



        <div class="form-group form-title">
                <input type="text" class="form-control" id="productsTitle" name="title" placeholder="제목">
            </div>
            <div class="form-group form-category">
                <select id="productsCategory" class="form-control" name="category">
                    <option value="" disabled selected>카테고리를 선택해주세요.</option>
                    <!--thymeleaf이용해 Enum클래스 정보 바로 가져오기-->
                    <option th:each = "categoryList:${T(com.exercise.carrotproject.domain.enumList.Category).values()}" th:value="${categoryList.name}" th:text="${categoryList.category}"></option>

                </select>
            </div>
            <div class="form-group form-price">
                <input type="number" class="form-control" id="productsPrice" name="price" min="0" step="1000" placeholder="가격을 입력해주세요. (￦)">
            </div>
            <div class="form-group form-description">
                <textarea class="form-control" id="productsDescription" name="content" rows="10" placeholder="제품 설명을 작성해주세요."></textarea>
            </div>

            <div class="form-group form-car-mileage">
                <input type="text" class="form-control" id="carMileage" name="wishPlace" placeholder="거래희망장소">
            </div>
<!--            <div class="form-group form-car-smoking">-->
<!--                <label>차량 판매자 흡연 여부</label>-->
<!--                <div class="form-check form-check-inline form-check-smoking">-->
<!--                    <input class="form-check-input" type="radio" name="smokingOptions" id="inlineSmoker" value="true">-->
<!--                    <label class="form-check-label smoker" for="inlineSmoker">예, 흡연자 입니다.</label>-->
<!--                </div>-->
<!--                <div class="form-check form-check-inline form-check-nonsmoking">-->
<!--                    <input class="form-check-input" type="radio" name="smokingOptions" id="inlineNonSmoker" value="false">-->
<!--                    <label class="form-check-label non-smoker" for="inlineNonSmoker">아니오, 비 흡연자 입니다.</label>-->
<!--                </div>-->
<!--            </div>-->
            <button type="button" id="uploadBtn" class="btn btn-primary btn-submit">상품 등록하기</button>
        </form>
    </div>

    <footer>
        <div class="container">
            <a href="board.html">2019 당근 마켓</a>
            <h6>Copyright © Danggeun Market Inc. All rights reserved.</h6>
        </div>
    </footer>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js" integrity="sha256-59/apVFrosMLFX2dHZLGvb3nPpu7e0Yx1rsDr1dTRrk=" crossorigin="anonymous"></script>-->


<!--jquery CDN-->
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<!--jquery UI CDN(드래그앤드롭)-->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

    <script>

        // const handler = {
        //     init() {
        //         const fileInput = document.querySelector('#inputImage');
        //         const preview = document.querySelector('#preview');
        //         fileInput.addEventListener('change', () => {
        //             console.dir(fileInput)
        //             const files = Array.from(fileInput.files)
        //             files.forEach(file => {
        //                 preview.innerHTML += `
        //                 <p id="${file.lastModified}">
        //                     ${file.name}
        //                     <button data-index='${file.lastModified}' class='file-remove'>X</button>
        //                 </p>`;
        //             });
        //         });
        //     },
        //
        //
        //     removeFile: () => {
        //         document.addEventListener('click', (e) => {
        //             if(e.target.className !== 'file-remove') return;
        //             const removeTargetId = e.target.dataset.index;
        //             const removeTarget = document.getElementById(removeTargetId);
        //             const files = document.querySelector('#inputImage').files;
        //             const dataTranster = new DataTransfer();
        //
        //             // document.querySelector('#file-input').files =
        //             //             Array.from(files).filter(file => file.lastModified !== removeTarget);
        //
        //
        //             Array.from(files)
        //                 .filter(file => file.lastModified != removeTargetId)
        //                 .forEach(file => {
        //                     dataTranster.items.add(file);
        //                 });
        //
        //             document.querySelector('#inputImage').files = dataTranster.files;
        //
        //             removeTarget.remove();
        //         })
        //     }
        // }
        //
        // handler.init()
        // handler.removeFile()




        //미리보기 이미지------------------------------------------------

            //드래그 앤 드롭
            // $(".sortable").sortable();

            //이미지 등록
            $("#inputImage").change(function(e){
                //div 내용 비워주기
                $('#Preview').empty();

                // const fileInput = document.querySelector('#inputImage');
                var files = e.target.files; //선택한 파일을 가져옴.
                var arr = Array.from(files);

                // var arr = Array.prototype.slice.call(files);
                //Array 객체의 slice() 메서드를 사용하여 객체(files)를 배열(arr)로 변환.
                //call() 메소드를 사용하여 slice() 메소드를 호출하면, 인수로 전달된 객체가 slice() 메소드의 this 값이 됨.

                //업로드 가능 파일인지 체크
                for(var i=0; i<files.length; i++){
                    if(!checkExtension(files[i].name,files[i].size)){
                        return false;
                    }
                }
                preview(arr);

                function checkExtension(fileName,fileSize){
                    // var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
                    var maxSize = 20971520;  //20MB

                    if(fileSize >= maxSize){
                        alert('이미지 크기가 초과되었습니다.');
                        $("#inputImage").val("");  //파일 초기화
                        return false;
                    }

                    // if(regex.test(fileName)){
                    //     alert('확장자명을 확인해주세요.');
                    //     $("#inputImage").val("");  //파일 초기화
                    //     return false;
                    // }
                    return true;
                }

                function preview(arr){
                    arr.forEach(function(f){

                        //div에 이미지 추가
                        // var str = '<li class="ui-state-default">';

                        //이미지 파일 미리보기
                        if(f.type.match('image.*')){
                            //파일을 읽기 위한 FileReader객체 생성
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                                // str += `<img id="${f.lastModified}" src="${e.target.result}" title="${f.name}" width=80 height=80>`;
                                // str += `<span data-index="${f.lastModified}" class="delBtn" onclick="delImg(this)">x</span>`;
                                // str += '</li>';

                                var str = `<li class="ui-state-default">
                                           <img id="${f.lastModified}" src="${e.target.result}" title="${f.name}" width=80 height=80>
                                           <span data-index="${f.lastModified}" class="delBtn" onclick="delImg(this)">x</span>
                                           </li>`
                                $(str).appendTo('#Preview');

                            }
                            reader.readAsDataURL(f); //reader에게 e.target.files[0](업로드된 파일)를 URL로 읽으라고 명령

                        }else{
                            //이미지 파일 아닐 경우
                            alert('이미지가 아닌 파일은 업로드할 수 없습니다.');

                        }
                    })
                }
            })

        //미리보기 이미지 삭제
        function delImg(e){
            console.log(e.className);

            if(e.className !== 'delBtn') return;
                        const removeTargetId = e.dataset.index;
                        const removeTarget = document.getElementById(removeTargetId);
                        const files = document.querySelector('#inputImage').files;
                        const dataTransfer = new DataTransfer();

                        // document.querySelector('#file-input').files =
                        //             Array.from(files).filter(file => file.lastModified !== removeTarget);


                        Array.from(files)
                            .filter(file => file.lastModified != removeTargetId)
                            .forEach(file => {
                                dataTransfer.items.add(file);
                            });

                        document.querySelector('#inputImage').files = dataTransfer.files;

                        removeTarget.remove();

                        $(e).parent('li').remove();
        }

        //미리보기 삭제----------------------------------------------

        // const files = $('#inputImage')[0].files;
        //
        // // const delImg = (fileNum) => {	//fileNum은 li 의 index 값
        // function delImg(fileNum) {
        //     const index = $(fileNum).parent('li').index(); // 해당 요소의 부모 li 요소 선택
        //     // const index = $li.index(); // li 요소의 인덱스 구하기
        //
        //     console.log("delImg진입")
        //     console.log("index:"+index)
        //
        //     const dataTransfer = new DataTransfer();
        //
        //     let files = $('#inputImage')[0].files;	//사용자가 입력한 파일을 변수에 할당
        //
        //     let fileArray = Array.from(files);	//변수에 할당된 파일을 배열로 변환(FileList -> Array)
        //
        //     fileArray.splice(index, 1);	//해당하는 index의 파일을 배열에서 제거
        //
        //     fileArray.forEach(file => { dataTransfer.items.add(file); });
        //     //남은 배열을 dataTransfer로 처리(Array -> FileList)
        //
        //     $('#inputImage')[0].files = dataTransfer.files;	//제거 처리된 FileList를 돌려줌
        //
        //     $(fileNum).parent('li').remove();
        //
        //
        //     console.log("files:"+files);
        // }
        //
        //



        //게시글 업로드-----------------------------------------------
        $('#uploadBtn').click(function( ) {

            var uploadForm = $('#upload_form')[0]; //$(...) 하면 객체 하나가 리턴
            var formData = new FormData(uploadForm); //FormData에는 객체가 들어가지 못함. so객체에서 인덱스로 뽑아옴.

            //formData 출력
            // for (let key of formData.keys()) {
            //     console.log(key, ":", formData.get(key));
            // }

            //실제 업로드 부분
            //upload ajax
            //파일업로드를 위해 contentType 속성을 반드시 false로 지정한다 -> multipart/form-data 타입을 사용하기위해
            $.ajax({
                url: '/post/upload',
                type: 'POST',
                data: formData,
                processData: false, //processData : false로 선언 시 formData를 string으로 변환하지 않음
                contentType: false, //contentType : false 로 선언 시 content-type 헤더가 multipart/form-data로 전송되게 함
                // dataType:'json',
                enctype:'multipart/form-data',
                success: function(result){ //컨트롤러에서 return이 없을 경우 바로 새로고침해버림(?)
                    console.log(result);
                    //화면 처리
                    alert(result);
                    location.href = "/post/board";
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log(jqXHR.responseText);
                    alert(jqXHR.responseText);
                }

            }); //$.ajax
        }); //end click




    </script>
</body>
</html>