<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head layout:fragment="head">
    <title>홈 화면</title>
    <style>
        .profile_img{
            width: 152px;
            height: 152px;
            overflow:hidden;
            border-radius: 50%;
            margin: 0 auto;
        }
        .profile_img img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<div layout:fragment="content">
    <div class="profile_img">
        <img th:src="|/members/${member.memId}/profileImg|" alt="프로필이미지">
    </div>
    <h3 th:text="|${member.memId}님|"></h3>
    <p th:text="|${member.memId}님의 매너온도 : ${member.mannerScore}|"></p>
</div>

<script layout:fragment="script" th:inline="javascript">

</script>